<% if nested %>
  <% if ad_hoc_domain_subject.new_record? %>
    <%= ahd_row(
      contents: {
        subject_form: ahd_form(ad_hoc_domain_subject, ad_hoc_domain_staff),
      }
    ) %>
  <% else %>
    <div id='ahd-subject-<%= ad_hoc_domain_staff.id_suffix %><%= ad_hoc_domain_subject.id_suffix %>'>
      <%= ahd_row(
        contents: {
          subject_delete: ahd_deletion_link(ad_hoc_domain_subject),
          subject: ad_hoc_domain_subject.subject_name,
          pupil_heading: "Pupils",
          mins_heading:  "Mins"
        },
        row_classes: %w(overrule)) %>
      <%= render object: ad_hoc_domain_subject,
        partial: 'ad_hoc_domain_subjects/subject_pupils',
        locals: { ad_hoc_domain_staff: ad_hoc_domain_staff } %>
    </div>
  <% end %>
<% else %>
  <% if ad_hoc_domain_subject.new_record? %>
    <%= ahd_row(
      contents: {
        subject_form: ahd_form(ad_hoc_domain_subject),
      },
      row_classes: %w(underrule overrule)
    ) %>
  <% else %>
    <div id='ahd-subject-<%= ad_hoc_domain_subject.id_suffix %>'>
      <%= ahd_row(
        contents: {
          subject_delete: ahd_deletion_link(ad_hoc_domain_subject),
          subject: ad_hoc_domain_subject.subject_name,
          num_staff: "#{ad_hoc_domain_subject.num_real_staff} staff",
          num_pupils: "#{ad_hoc_domain_subject.num_real_pupils} pupils",
          flipper: ahd_toggle( @folded ? "Show" : "Hide")
        },
        row_classes: %w(overrule)) %>
      <%= render object: ad_hoc_domain_subject,
        partial: 'ad_hoc_domain_subjects/subject_staff' %>
    </div>
  <% end %>
<% end %>

