<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :initials, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :initials %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :surname, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :surname %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :title, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :title %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :forename, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :forename %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :email %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :zoom_id, "Zoom ID", class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :zoom_id %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row">
    <%= flag_group(f,
                   12,
                   6,
                   "Settings",
                   [
                     {
                       field: :active,
                       disabled: @staff.active,
                       annotation: "Is this staff member, or has this staff member ever been active in the system?  Do not change from true to false."
                     },
                     {
                       field: :current,
                       annotation: "Is this staff member current?"
                     },
                     {
                       field: :multicover,
                       prompt: "Multi cover",
                       annotation: "Can this staff member do more than one cover at a time?"
                     },
                     {
                       field: :edit_viewable,
                       prompt: "Viewable",
                       annotation: "Can ordinary users view this staff member's schedule?"
                     }
                   ]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
