<h1>Listing staff</h1>
<p id="notice"><%= notice %></p>

<div class="digg_pagination">
  <%= will_paginate @staffs %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Initials</th>
      <th>Surname</th>
      <th>Title</th>
      <th>Forename</th>
      <th>Current</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.initials %></td>
        <td><%= staff.surname %></td>
        <td><%= staff.title %></td>
        <td><%= staff.forename %></td>
        <td><%= staff.current %></td>
        <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @staffs %>
</div>

<br>

<%= link_to 'New Staff', new_staff_path %>
