<h1>Listing rota_slots</h1>

<table>
  <thead>
    <tr>
      <th>Rotatemplate</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota_slots.each do |rota_slot| %>
      <tr>
        <td><%= rota_slot.rota_template_id %></td>
        <td><%= rota_slot.starts_at %></td>
        <td><%= rota_slot.ends_at %></td>
        <td><%= rota_slot.days %></td>
        <td><%= link_to 'Show', rota_slot %></td>
        <td><%= link_to 'Edit', edit_rota_slot_path(rota_slot) %></td>
        <td><%= link_to 'Destroy', rota_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rota slot', new_rota_slot_path %>
