<p id="notice"><%= notice %></p>

<p>
  <strong>Rota template:</strong>
  <%= @rota_slot.rota_template_id %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @rota_slot.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @rota_slot.ends_at %>
</p>

<p>
  <strong>Days:</strong>
  <%= @rota_slot.days %>
</p>

<%= link_to 'Edit', edit_rota_slot_path(@rota_slot) %> |
<%= link_to 'Back', rota_slots_path %>
