<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :name, class: 'right inline' %>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :name, class: 'focus_please' %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :current, class: 'right' %>
    </div>
    <div class="small-10 columns">
      <%= f.check_box :current %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :add_directly, class: 'right' %>
    </div>
    <div class="small-10 columns">
      <%= f.check_box :add_directly %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit @service.id ? 'Update' : 'Create', class: 'zfbutton tiny radius' %>
    <%= link_to 'Cancel', services_path, class: 'zfbutton tiny radius button-link' %>
  </div>
<% end %>
