<h1>Listing services</h1>
<p id="notice"><%= notice %></p>

<div class="apple_pagination">
  <%= will_paginate @services %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owners</th>
      <th>Current</th>
      <th>Add directly</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.owners_initials %></td>
        <td><%= boolean_icon(service.current?) %></td>
        <td><%= boolean_icon(service.add_directly?) %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td>
          <% if service.can_destroy? %>
            <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @services %>
</div>

<br>

<%= link_to 'New Service', new_service_path, :class => "zfbutton tiny radius button-link" %>
