<tr>
<td><%= membership.starts_on.to_s(:dmy) %></td>
<td><%= membership.ends_on.blank? ? "..." : membership.ends_on.to_s(:dmy) %></td>
<td><%= membership.element.name %></td>
<td><%= membership.inverse? ? "Exclusion" : "" %></td>
<% if @show_action_links %>
  <td><%= link_to "Edit", edit_membership_path(membership) %></th>
  <td><%=
  membership.could_terminate? ?
    link_to('Terminate',
            terminate_membership_path(membership),
            method: :put,
            title: 'Give this record an end date of today.'  ) : ""
            %></td>
<td><%=
  link_to "Delete",
          membership,
          method: :delete,
          data: {
          confirm: "Are you sure you want to delete this membership record entirely - as if it had never been?"
          }
          %></td>
<% end %>
</tr>
