<span class='tinytext'>You can use
  <a href='https://en.wikipedia.org/wiki/Markdown' target='_blank'>Markdown</a>
  to format the body of your note.
</span>
<%= form_for(@note.id ? @note : [@event, @note], remote: true) do |f| %>
<div class="row">
  <div class="small-12 columns">
    <% unless @note.title.empty? %>
      <label><%= @note.title %></label>
    <% end %>
    <% if @note.parent_type == "Commitment" &&
         @note.promptnote &&
         !@note.promptnote.prompt.blank? %>
       <p><pre><%= @note.promptnote.prompt %></pre></p>
    <% end %>
    <%= f.text_area :contents, rows: 15 %>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :parent_type %>
    <%= f.hidden_field :owner_id %>
  </div>
  <div class='small-2 columns'>
    <span class='zfbutton teensy radius' id='embed-button'>Link file</span>
  </div>
  <%= flag_group(f, 10, 10, "Visible to", [
    {field: :visible_guest,
     prompt: "Guests",
     annotation: "Should this note be visible to guest users?"},
    {field: :visible_staff,
     prompt: "Staff",
     annotation: "Should this note be visible to colleagues - e.g. cover work?"},
    {field: :visible_pupil,
     prompt: "Pupils",
     annotation: "Should this note be visible to pupils - e.g. prep?"}]) %>
</div>
<div id="saveButton">
  <%= f.submit @note.id ? "Update" : "Save", :class => "zfbutton tiny radius" %>
  <%= link_to "Cancel", shownotes_event_path(@event), :remote => true, :class => "zfbutton tiny radius" %>
</div>
<% end %>
