<h1>Listing datasources</h1>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Staff</th>
      <th>Pupils</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasources.each do |datasource| %>
      <tr>
        <td><%= datasource.name %></td>
        <td><%= datasource.staffs.count %></td>
        <td><%= datasource.pupils.count %></td>
        <td><%= link_to 'Edit', edit_datasource_path(datasource), class: "tiny teensy zfbutton radius button-link" %></td>
        <td>
          <% if datasource.can_destroy? %>
            <%= link_to 'Destroy', datasource, method: :delete, class: "tiny teensy zfbutton radius button-link", data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New data source', new_datasource_path, class: "tiny zfbutton radius" %>
