<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teachinggroup.name %>
</p>

<p>
  <strong>Era:</strong>
  <%= @teachinggroup.era_id %>
</p>

<p>
  <strong>Current:</strong>
  <%= @teachinggroup.current %>
</p>

<p>
  <strong>Source:</strong>
  <%= @teachinggroup.source_id %>
</p>

<p>
  <strong>Pupils:</strong>
  <% @teachinggroup.members.each do |member| %>
  <br/><%= member.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_teachinggroup_path(@teachinggroup) %> |
<%= link_to 'Back', teachinggroups_path %>
