<h1>Listing <%= @rota_template_type.name.downcase %> rota templates</h1>

<div class="digg_pagination">
  <%= will_paginate @rota_templates %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slots</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota_templates.each do |rota_template| %>
      <tr>
        <td><%= rota_template.name %></td>
        <td><%= rota_template.rota_slots.count %></td>
        <td><%= link_to 'Edit', rota_template %></td>
        <td>
          <%= link_to "Clone",
                      do_clone_rota_template_path(rota_template),
                      :method => :post %>
      </td>
        <td><%= link_to 'Destroy', rota_template, method: :delete, data: { confirm: 'Are you sure you want to delete this template and all its slots?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @rota_templates %>
</div>

<br>

<%= link_to 'New Rota template',
  new_rota_template_type_rota_template_path(@rota_template_type),
  class: "zfbutton small radius" %>
