<h1>Listing rota_templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota_templates.each do |rota_template| %>
      <tr>
        <td><%= rota_template.name %></td>
        <td><%= link_to 'Show', rota_template %></td>
        <td><%= link_to 'Edit', edit_rota_template_path(rota_template) %></td>
        <td><%= link_to 'Destroy', rota_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rota template', new_rota_template_path %>
