<h2>Rota template: <%= @rota_template.name %></h2>

<div id='rotatemplate' data-rtid='<%= @rota_template.id %>'>
  <table id='rt-table' class='zftable'>
  </table>
</div>
<%= link_to 'Back', rota_templates_path %>

<script type="text/template" id="rt-header-row">
  <tr id='rt-header-row'>
    <th class='rt-deleteslot'></th>
    <th class='rt-timeslot'>Time slot</th>
    <th class='rt-daybox'>Sun</th>
    <th class='rt-daybox'>Mon</th>
    <th class='rt-daybox'>Tue</th>
    <th class='rt-daybox'>Wed</th>
    <th class='rt-daybox'>Thu</th>
    <th class='rt-daybox'>Fri</th>
    <th class='rt-daybox'>Sat</th>
  </tr>
</script>

<script type="text/template" id="rt-slot-row">
  <td><button class='destroy tiny radius'>Remove</button></td>
  <td><%%= starts_at + " - " + ends_at %></td>
  <% 0.upto(6) do |i| %>
    <td class='tickbox'>
      <input class='toggle' type='checkbox' <%=
      "<%=  days[#{i}] ? 'checked' : '' #{'%'}#{'>'}".html_safe
      %> />
    </td>
  <% end %>
</script>

<script type="text/template" id="rt-newslot-row">
  <tr id='rt-newslot-row'>
    <td>
      <button class='add tiny radius'>Add</button>
    </td>
    <td>
      <input id='new-starts-at' placeholder='Starts at'>
      -
      <input id='new-ends-at' placeholder='Ends at'>
    </td>
    <% 0.upto(6) do |i| %>
      <td class='tickbox'>
        <input class='toggle' type='checkbox' <%=
        "<%=  days[#{i}] ? 'checked' : '' #{'%'}#{'>'}".html_safe
        %> />
      </td>
    <% end %>
  </tr>
</script>
