
<div id='rotatemplate' data-rtid='<%= @rota_template.id %>'>
  <div id='rt-header'>
    <h3>
      Rota template:
      <span id='title'></span>
      <input id='title-box'></input>
      <button class='edit tiny radius'>Edit name</button>
      <button class='update tiny radius'>Update</button>
      <button class='cancel tiny radius'>Cancel</button>
    </h3>
  </div>
  <table id='rt-table' class='zftable rt-table'>
    <thead>
      <tr id='rt-header-row'>
        <th class='rt-deleteslot'></th>
        <th class='rt-timeslot'>Time slot</th>
        <th class='rt-daybox'>Sun</th>
        <th class='rt-daybox'>Mon</th>
        <th class='rt-daybox'>Tue</th>
        <th class='rt-daybox'>Wed</th>
        <th class='rt-daybox'>Thu</th>
        <th class='rt-daybox'>Fri</th>
        <th class='rt-daybox'>Sat</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr id='rt-newslot-row'>
        <td>
          <button class='add tiny radius'>Add</button>
        </td>
        <td>
          <form>
            <div class="row">
              <div class="large-6 columns" id="starts_at">
                <label>Start time
                  <input id='new-starts-at' placeholder='Starts at'>
                </label>
              </div>
              <div class="large-6 columns" id="ends_at">
                <label>End time
                  <input id='new-ends-at' placeholder='Ends at'>
                </label>
              </div>
            </div>
          </form>
        </td>
        <% 0.upto(6) do |i| %>
          <td class='tickbox'>
            <input class='toggle' data-dayno ='<%= i %>' type='checkbox' />
          </td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
<div align="right">
  <%= link_to 'Done', rota_templates_path, class: 'button tiny radius' %>
</div>

<script type="text/template" id="rt-slot-row">
  <td class='destroy-box'><button class='destroy tiny radius'>Remove</button></td>
  <td><%%= starts_at + " - " + ends_at %></td>
  <% 0.upto(6) do |i| %>
    <td class='tickbox'>
      <input class='toggle' data-dayno='<%= i %>' type='checkbox' <%=
      "<%=  days[#{i}] ? 'checked' : '' #{'%'}#{'>'}".html_safe
      %> />
    </td>
  <% end %>
</script>

<script type="text/template" id="rt-error-msg">
  <small class="error"><%%= error_msg %></small>
</script>

