<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Unfortunately, <%=
        @rejecter
      %> has identified a problem with your request to use <%=
        @element.name
      %> for "<%=
        @event.body
      %>" on <%=
        @event.starts_at.strftime("%d/%m/%Y")
      %> giving the following reason:
    </p>
    <p>
      <%= @reason %>
    </p>
    <p>
      Is it possible to adjust your requirements?
    </p>
  </body>
</html>
