<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= render partial: "styling" %>
  </head>
  <body>
    <%= render partial: "header" %>
    <p>
      Unfortunately, <%=
        @rejecter
        %> has identified a problem with your request for:
    </p>
    <p class="indented">
    <%= @element.name %>
    </p>
    <p>
    for your event "<%=
        @event.body
      %>" on <%=
        @event.starts_at.strftime("%d/%m/%Y")
      %> at <%=
        @event.starts_at.strftime("%H:%M")
      %> giving the following reason:
    </p>
    <p class="indented">
      <%= @reason %>
    </p>
    <p>
      Please use the buttons below to adjust or cancel your request.
    </p>
    <p>
    <% if @user %>
      <%= mailer_user_events_link(@user) %>
      <%= mailer_scheduler_link(@event) %>
      <% if @rejecter_email %>
        <%= mailer_mail_to_link(@rejecter_email,
                                @rejecter,
                                mailer_subject(@event)) %>
      <% end %>
    <% end %>
    </p>
  </body>
</html>
