<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= render partial: "styling" %>
  </head>
  <body>
    <%= render partial: "header" %>
    <p>
    <%= @name %> cancelled request for <%= @resource.name %> at <%= @event.starts_at_text %>
    </p>
  </body>
</html>
