<div class='<%= period.css_classes %>'>
<% if period.show_times? %>
  <div class='starttime'><%= period.start_time %></div>
  <div class='<%= period.end_time_class %>'><%= period.end_time %></div>
<% end %>
<% if period.body_text %>
  <div class='<%= period.periodtext_class %>'><%= period.body_text %></div>
<% end %>
<% if period.has_prep %>
  <div class='<%= period.preptext_class %>'><%= Setting.tt_prep_letter %></div>
<% end %>
</div>
