<p id="notice"><%= notice %></p>

<h1>Showing element</h1>

<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @element.entity_type %>
</p>

<p>
  <strong>Current:</strong>
  <%= @element.current %>
</p>

<h2>Memberships</h2>

<%= render @mwd_set %>

<p>Detailed information about the element</p>
<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <h3>General information</h3>
    Administered by.  Name. Tutor. House. Year.
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Member of</h3>
    Broken down by type of group.  Just current membership.
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Members</h3>
    Appears only for groups.
  </div>
</div>


