<p id="notice"><%= notice %></p>

<h1>Showing element</h1>

<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @element.entity_type %>
</p>

<p>
  <strong>Current:</strong>
  <%= @element.current %>
</p>

<h2>Memberships</h2>

<%= render @mwd_set %>
