<p id="notice"><%= notice %></p>

<h2>Details of <%= @element.name %></h2>
<% unless @element.current %>
  <p class="warning">Not current!</p>
<% end %>
<p>
  <%= @element.entity_description %><% if @element.owned %>
    Administered by: <%= @element.owners.collect {|u| u.name }.join(", ") %>
  <% end %>
</p>
<% if @element.entity.respond_to?(:owner) && @element.entity.owner %>
<p>
  Owned by: <%= @element.entity.owner.name %>
</p>
<% end %>

<ul class="tabs" data-tab>
  <%= render partial: "panel_heading",
             collection: @panels %>
</ul>

<div class="tabs-content">
  <%= render partial: "panel_contents",
             collection: @panels %>
</div>

