<p id="notice"><%= notice %></p>

<h1>Details of <%= @element.name %></h1>

<p>
  <strong>Type:</strong>
  <%= @element.kind_of_entity %>
</p>

<p>
  <strong>Current:</strong>
  <%= @element.current %>
</p>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <h3>General information</h3>
    Administered by.  Name. Tutor. House. Year.
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Member of</h3>
    Broken down by type of group.  Just current membership.
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Members</h3>
    Appears only for groups.
  </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <h3>Membership history</h3>

    <%= render @mwd_set %>
  </div>
</div>


