<%= form_for(@eventsource) do |f| %>
  <% if @eventsource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventsource.errors.count, "error") %> prohibited this eventsource from being saved:</h2>

      <ul>
      <% @eventsource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="small-9 small-offset-3 columns">
    <%= f.submit(@eventsource.new_record? ? 'Create' : "Update",
                 class: 'zfbutton tiny radius') %>
    <%= link_to 'Cancel', eventsources_path, class: 'zfbutton tiny radius button-link' %>
  </div>
<% end %>
