<h1>Listing eventsources</h1>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventsources.each do |eventsource| %>
      <tr>
        <td><%= eventsource.name %></td>
        <td><%= eventsource.events.count %></td>
        <td><%= link_to 'Show', eventsource %></td>
        <td><%= link_to 'Edit', edit_eventsource_path(eventsource) %></td>
        <td>
          <% if eventsource.can_destroy? %>
            <%= link_to 'Destroy', eventsource, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventsource', new_eventsource_path, class: "tiny zfbutton radius" %>
