<h1>Listing eventsources</h1>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventsources.each do |eventsource| %>
      <tr>
        <td><%= eventsource.name %></td>
        <td><%= link_to 'Show', eventsource %></td>
        <td><%= link_to 'Edit', edit_eventsource_path(eventsource) %></td>
        <td><%= link_to 'Destroy', eventsource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventsource', new_eventsource_path, class: "button radius" %>
