<div class='um-subject-text'>
  <%= @subject %>
</div>
<div class='um-event-body'>
  <%= @event.body %>
</div>
<div class='um-event-timing'>
<%= @event.starts_at.strftime('%d/%m/%Y') %> at <%= @event.starts_at.strftime('%H:%M') %>
</div>
<div class='um-preamble'>
  <span class='um-approver-name'><%=
    @approver
    %></span> has confirmed your request for:
</div>
<div class='um-requested-element'>
  <%= @element.name %>
</div>
<% if @complete %>
  <div class='um-postamble'>
    Your event is now complete.
  </div>
<% else %>
  <div class='um-postamble'>
    The following items requested for your event are still awaiting
    approval:
    <ul>
      <% @pending_elements.each do |e| %>
        <li><%= e.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
