<h2>Possible cover issues - <%=
  now = Time.zone.now
  now.strftime("%a #{now.day.ordinalize} %b, %Y %H:%M") %>
</h2>
<% if @clashes.size > 0 %>
<p>
Automatic processing of the cover records from
<%= Setting.current_mis_name %>
has thrown up the following possible clashes.
</p>
<table>
  <tr>
    <td>Covering</td>
    <td>Covered</td>
    <td>Event</td>
    <td>From</td>
    <td>To</td>
    <td>Clash</td>
    <td>From</td>
    <td>To</td>
  </tr>
  <%= render @clashes %>
</table>
<% end %>
<% if @oddities.size > 0 %>
<p>
Automatic processing of the cover records from
<%= Setting.current_mis_name %>
has thrown up the following possible oddities.
</p>
<table>
  <tr>
    <td>Activity</td>
    <td>From</td>
    <td>To</td>
    <td>Person</td>
    <td>Problem</td>
  </tr>
  <%= render @oddities %>
</table>
<% end %>
