<div class='um-subject-text'>
  <%= @subject %>
</div>
<div class='um-event-body'>
  <%= @event.body %>
</div>
<div class='um-event-timing'>
<%= @event.starts_at.strftime('%d/%m/%Y') %> at <%= @event.starts_at.strftime('%H:%M') %>
</div>
<div class='um-preamble'>
  <%= @user_name %> has completely deleted this event from Scheduler
<% if @resource %>
  meaning that
  <% if @quantity.nil? %>
    the previously approved request for
  <% else %>
    the request for
  <% end %>
</div>
<div class='um-requested-element'>
  <%= @quantity.nil? ? @resource.name : pluralize(@quantity, @resource.name) %>
</div>
<div class='um-postamble'>
  <% if @quantity.nil? %>
    has gone away.
  <% else %>
    has been cancelled after <%= @allocated %> had been allocated.
  <% end %>
<% end %>
</div>
