<h3>New request for <%= @resource.name %></h3>
<p><%= @user_name %> has entered a request for <%=
  pluralize(@new_quantity, @resource.name)
%></p>

<ul>
  <li>Event: <%= @event.body %></li>
  <li>Starting: <%= @event.starts_at_text %></li>
  <li>Duration: <%= @event.duration_text %></li>
  <li>Originator: <%= @user_name %></li>
  <li>Event owner: <%= @owner_name %></li>
  <li>Event organiser: <%= @organiser_name %></li>
</ul>
