<p>
Predicted loading for resource "<%= @element.name %>" over the next <%= @data.size %> days.
</p>
<% if @num_overloads > 0 %>
  <p class='warning'>There appear<%= @num_overloads == 1 ? "s" : "" %> to be <%= pluralize(@num_overloads, 'instance') %> of overloading.</p>
<% end %>
<%= render @data %>
