<div class='resource-chunk'>
  <div class='flip-button'>
    <%= mailer_resource_link("View requests", @resource) %>
  </div>
  <h3>
    <%= @resource.name %>
  </h3>
  <p>
  <%= @user_name %> has entered, updated or deleted a repeating
    event in Scheduler entitled "<%= @general_title %>"
    resulting in the following changes to requests
    for <%= @resource.name %>.
  </p>
  <% unless @record.events_added_to.empty? %>
    <h4>Added at these times</h4>
    <ul>
      <% @record.events_added_to.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless @record.events_removed_from.empty? %>
    <h4>Removed at these times</h4>
    <ul>
      <% @record.events_removed_from.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
    </ul>
  <% end %>
</div>
