<div class='resource-chunk'>
  <div class='flip-button'>
    <%= mailer_resource_link("View requests", @resource) %>
  </div>
  <h3>
    <%= @resource.name %>
  </h3>
  <p>
  <%= @user_name %> has entered, updated or deleted a repeating
    event in Scheduler entitled "<%= @general_title %>"
    resulting in the following changes to requests or commitments
    for <%= @resource.name %>.
  </p>
  <% @record.non_empty_instances.each do |instance| %>
    <h4><%= instance.header_text %></h4>
    <ul>
      <% instance.event_texts.each do |text| %>
        <li><%= text %></li>
      <% end %>
    </ul>
  <% end %>
</div>
