<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= render partial: "styling" %>
  </head>
  <body>
    <div class='scheduler-email-contents<%=
          if @um_functional_styling
            " um-functional-styling "
          else
            " "
          end
        %><%= mailer_action_name %>'>
      <%= render partial: "header" %>
      <div class='um-email-body'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
