<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :name, :id => "group_name_field" %>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :era, class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= f.collection_select(:era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
<% if @group.type == "Resource" %>
    <div class='small-2 columns'>
      <%= f.label :edit_preferred_colour, "Preferred colour", class: "right inline" %>
    </div>
    <div class='small-1 columns'>
      <span style="float: right">
        <%=
          f.hidden_field(:edit_preferred_colour,
                         :id => :colour_picker,
                         "data-default-colour" => @group.edit_preferred_colour,
                         "data-allow-empty" => true) %>
      </span>
    </div>
    <div class='small-3 columns'>
    </div>
<% else %>
    <div class='small-6 columns'>
    </div>
<% end %>
  </div>

<% if @group.type == "Resource" %>
  <div class='row collapse'>
    <div class='large-2 medium-4 columns'>
      <%=
        f.label(
          :loading_days,
          class: "right inline",
          title: 'When calculating projected resource loading, how many days in advance do you want the system to look?  0 disables the calculation.'
        )
      %>
    </div>
    <div class='large-1 medium-2 columns'>
      <%= f.number_field :loading_report_days, min: 0, max: 28 %>
    </div>
    <div class='large-2 medium-4 columns'>
      <%=
        f.label(
          :wrapping_mins,
          class: "right inline",
          title: 'When doing the loading calculation, how many minutes should be added to the start and end of each event as padding? 0 disables.'
        )
      %>
    </div>
    <div class='large-1 medium-2 columns'>
      <%= f.number_field :wrapping_mins, min: 0, max: 30 %>
    </div>
    <div class='large-2 medium-4 columns'>
      <%=
        f.label(
          :confirmation_days,
          class: "right inline",
          title: 'How many days in advance of a scheduled event should the system start prompting a user to confirm the booking?  0 disables.'
        )
      %>
    </div>
    <div class='large-1 medium-2 columns'>
      <%= f.number_field :confirmation_days, min: 0, max: 30 %>
    </div>
    <div class='large-2 medium-4 columns'>
      <%=
        f.label(
          :form_warning_days,
          class: "right inline",
          title: 'How many days in advance of an event should the system start nagging the user to fill in uncompleted forms? 0 disables.'
        )
      %>
    </div>
    <div class='large-1 medium-2 columns'>
      <%= f.number_field :form_warning_days, min: 0, max: 30 %>
    </div>
  </div>
<% end %>

  <div class="row collapse">
    <div class="small-2 columns">
      <%= f.label :current, class: "right inline" %>
    </div>
    <div class="small-1 columns">
      <%= f.check_box :current %>
    </div>
    <div class="small-1 columns">
      <%= f.label :public, class: "right inline" %>
    </div>
    <div class="small-1 columns">
      <%= f.check_box :make_public, :disabled => !public_groups_user? %>
    </div>
    <div class="small-7 columns">
    </div>
  </div>

  <div class="row collapse">
    <div class="small-2 columns">&nbsp;</div>
    <div class="small-2 columns">
      <div class="actions">
        <% if @group.id %>
          <%= f.submit 'Finished', class: 'zfbutton tiny radius'  %>
        <% else %>
          <%= hidden_field_tag(:type, @type) %>
          <%= f.submit 'Create', class: 'zfbutton tiny radius'  %>
          <%= link_to 'Cancel', @go_back_to, class: 'zfbutton tiny radius button-link' %>
        <% end %>
      </div>
    </div>
    <div class="small-8 columns">
    </div>
  </div>

<% end %>

<% if @group.id %>
  <h3>Members</h3>
  <div class="row">
    <div class="small-8 columns">
      <%= form_for(@membership, remote: true) do |f| %>
        <%= f.autocomplete_field :element_name,
                                 autocomplete_element_name_elements_path,
                                 :id_element => '#membership_element_id',
                                 :placeholder => "Add a member",
                                 "data-auto-focus" => true %>
        <%= f.text_field :element_id, :type => :hidden %>
        <%= f.text_field :group_id, :type => :hidden %>
      <% end %>
    </div>
    <div class="small-4 columns">
      <%= form_for(@exclusion, namespace: :exclusion, remote: true) do |f| %>
        <%= f.autocomplete_field :element_name,
                                 autocomplete_element_name_elements_path,
                                 :id_element => '#exclusion_membership_element_id',
                                 :placeholder => "but exclude",
                                 "data-auto-focus" => true %>
        <%= f.text_field :element_id, :type => :hidden %>
        <%= f.text_field :group_id, :type => :hidden %>
        <%= f.text_field :inverse, :type => :hidden %>
      <% end %>
    </div>
  </div>
  <div id="membership">
  <%= render partial: "membership", object: @group, locals: {editing: true} %>
  </div>
  <h3>Copying</h3>
  <div class="row">
    <div class="small-2 columns">
      <%= link_to "Clone",
                  do_clone_group_path(@group),
                  :method => :post,
                  :class => "zfbutton tiny radius" %>
    </div>
    <div class="small-6 columns">
      Make an exact copy of this group, except for the name, including
      all the sub-groups and exclusions.
    </div>
    <div class="small-4 columns">
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= link_to "Flatten",
                  flatten_group_path(@group),
                  :method => :post,
                  :class => "zfbutton tiny radius" %>
    </div>
    <div class="small-6 columns">
      Make a flattened copy of this group, with all the same eventual members
      but not relying on sub-groups or exclusions.
    </div>
    <div class="small-4 columns">
    </div>
  </div>
<% else %>
  <p>First create the group in order to allow resources to be added.</p>
<% end %>
