<%= form_for(@element, html: {method: :get, class: "groupfind" } ) do |f| %>
  <div class="row collapse">
    <div class="small-11 columns">
      <%=
        f.autocomplete_field(
          :name,
          autocomplete_path(@which_finder),
          :id_element => '#element_id',
          :placeholder => "Find group",
          "data-auto-focus" => true)
      %>
      <%=
        f.text_field :id, :type => :hidden
      %>
      <%=
        hidden_field_tag(:which_finder, @which_finder)
      %>
    </div>
    <div class="small-1 columns">
      <%=
        f.submit "Find", class: 'zfbutton postfix radius'
      %>
    </div>
  </div>
<% end %>
