<table class="zftable">
  <tr>
    <th>Staff</th>
    <th>Pupils</th>
    <th>Groups</th>
    <th>Locations</th>
  </tr>
<% if @atomic_membership %>
  <tr>
    <td colspan="4" align="center">Specified members</td>
  </tr>
<% end %>
  <tr>
    <td valign="top">
      <%= membership_entries_for(membership, Staff, editing) %>
    </td>
    <td valign="top">
      <%= membership_entries_for(membership, Pupil, editing) %>
    </td>
    <td valign="top">
      <%= membership_entries_for(membership, Group, editing) %>
    </td>
    <td valign="top">
      <%= membership_entries_for(membership, Location, editing) %>
    </td>
  </tr>
<% if @atomic_membership %>
  <tr>
    <td colspan="4" align="center">Resulting membership</td>
  </tr>
  <tr>
    <td valign="top">
      <%= atomic_entries(@atomic_membership, Staff) %>
    </td>
    <td valign="top">
      <%= atomic_entries(@atomic_membership, Pupil) %>
    </td>
    <td valign="top">
      <%= atomic_entries(@atomic_membership, Group) %>
    </td>
    <td valign="top">
      <%= atomic_entries(@atomic_membership, Location) %>
    </td>
  </tr>
<% end %>
</table>

