<h1>Listing groups</h1>
<p id="notice"><%= notice %></p>

<%= will_paginate @groups %>
<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Era</th>
<% if admin_user? %>
      <th>Type</th>
<% end %>
      <th colspan="2">Members</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="<%= admin_user? ? "3" : "2" %>"></th>
      <th>Immediate</th>
      <th>Atomic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.era.name %></td>
<% if admin_user? %>
        <td><%= group.type %></td>
<% end %>
        <td><%= group.members(nil, false).count %></td>
        <td><%= group.members(nil, true, true).count %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @groups %>

<br>

<%= link_to 'New Group', new_group_path, class: "button radius" %>
