<h1>Listing <%= @heading %></h1>
<p id="notice"><%= notice %></p>

<div class='row collapse'>
  <div class="small-9 columns">
    <% if @paginate %>
      <%= render 'group_finding_form' %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class="small-2 offset-1 columns">
    <%= link_to "New #{@type_to_create} group", new_group_path(type: @type_to_create), class: "zfbutton tiny radius button-link" %>
  </div>
</div>

<% if @paginate %>
<div class="apple_pagination">
  <%= will_paginate @groups %>
</div>
<% end %>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Era</th>
<% if admin_user? %>
      <th>Type</th>
<% end %>
      <th colspan="2">Members</th>
      <th colspan="4"></th>
    </tr>
    <tr>
      <th colspan="<%= admin_user? ? "3" : "2" %>"></th>
      <th>Immediate</th>
      <th>Resulting</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
<% if @separate %>
    <tr>
      <th colspan="<%= admin_user? ? "9" : "8" %>">Public</th>
    </tr>
    <%= render partial: "grouplisting", collection: @public_groups %>
    <tr>
      <th colspan="<%= admin_user? ? "9" : "8" %>">Private</th>
    </tr>
    <%= render partial: "grouplisting", collection: @private_groups %>
<% else %>
    <%= render partial: "grouplisting", collection: @groups %>
<% end %>
  </tbody>
</table>

<% if @paginate %>
<div class="apple_pagination">
  <%= will_paginate @groups %>
</div>
<% end %>

<br>

