<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Era:</strong>
  <%= @group.era_id %>
</p>

<p>
  <strong>Starts on:</strong>
  <%= @group.starts_on %>
</p>

<p>
  <strong>Current:</strong>
  <%= @group.current %>
</p>

<p>
  <strong>Members:</strong>
  <%= render partial: "membership", object: @group, locals: {editing: false} %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
