<tr>
  <td><%= concern.element.name %></td>
  <td style="width: 50px; color: white; border-radius: 5px; background-color: <%= concern.colour %>"><%= concern.colour %></td>
  <% Concern::FLAGS.each do |flag| %>
    <td><%= boolean_icon(concern.send(flag)) %></td>
  <% end %>
  <td><%=
  link_to "Edit",
    edit_user_concern_path(@user, concern, {reduced: true})
    %></td>
  <td><%=
    html_options = {
      method: :delete,
      remote: true
    }
    unless concern.user_can_delete?
      html_options[:data] = {
        confirm: "This concern confers privileges - delete anyway?"
      }
    end
    link_to "Delete", user_concern_path(@user, concern), html_options
      %></td>
</tr>
