<%= form_for(@user, remote: @minimal) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name, :disabled => !current_user.admin %>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :email, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :email, :disabled => !current_user.admin %>
    </div>
  </div>

<% if current_user.admin %>

  <%= flag_setter(f, :admin,  "Is this user a system administrator?") %>
  <%= flag_setter(f, :editor, "Can this user create and edit events?") %>
  <%= flag_setter(f, :arranges_cover,
                  "Does this user administer cover?", "Cover") %>
  <%= flag_setter(f, :secretary,
                  "Does this user enter events on behalf of other people? Causes the Owner field in new events to be left blank.") %>
  <%= flag_setter(f, :privileged,
                  "Can this user put events into the privileged event categories?") %>
  <%= flag_setter(f, :public_groups,
                  "Can this user create publicly visible groups?") %>
<% end %>
<% if current_user.admin || current_user.editor %>
  <%= flag_setter(f, :email_notification,
                  "Should the system send daily e-mail notifications of pending requests?") %>
<% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Week display to start on", class: "right inline" %><br>
    </div>
    <div class="small-2 columns">
      <%= f.collection_select(:firstday,
                              @user.list_days,
                              :id,
                              :name) %>
    </div>

<% if current_user.editor || current_user.admin %>
    <div class="small-1 columns"></div>
    <div class="small-3 columns">
      <%= f.label "Preferred event category", class: "right inline" %><br>
    </div>
    <div class="small-2 columns">
      <%= f.collection_select(:preferred_event_category_id,
                              Eventcategory.categories_for(current_user),
                              :id,
                              :name,
                              {:include_blank => "--None--"}) %>
    </div>
    <div class="small-1 columns"></div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Default event description", class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field(:default_event_text) %>
    </div>
  </div>

<% else %>
    <div class="small-7 columns"></div>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
