<%= form_for(@user, remote: @modal) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <label>Name</label>
      <%= f.text_field :name, :disabled => !current_user.admin %>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <label>E-mail</label>
      <%= f.text_field :email, :disabled => !current_user.admin %>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <label>Start week on</label>
      <%= f.collection_select(:firstday,
                              @user.list_days,
                              :id,
                              :name) %>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <label>Colour for own events</label>
      <div class="concern-block">
        <div class="concern-button" id="<%= @modal ? "dynamic_colour_sample" : "colour-sample" %>" style="background-color:<%= @user.colour_not_involved %>">
          <span class="concern-spacer"></span>
          <div class="concern-text">My events</div>
        </div>
        <span style="float: right">
          <%= f.hidden_field :colour_not_involved,
            :id => @modal ? :dynamic_colour_picker : :colour_picker,
            "data-default-colour" => "#254117" %>
        </span>
      </div>
    </div>

<% if current_user.editor || current_user.admin %>
    <div class="small-12 medium-6 large-3 columns">
      <label>Preferred event category</label>
      <%= f.collection_select(:preferred_event_category_id,
                              Eventcategory.categories_for(current_user),
                              :id,
                              :name,
                              {:include_blank => "--None--"}) %>
    </div>
    <div class="small-12 medium-8 large-5 columns">
      <label>Default event description</label>
      <%= f.text_field(:default_event_text) %>
    </div>
<% end %>
<% if @full_details %>
  <div class="small-12 medium-6 large-4 columns">
    <label>User profile</label>
    <%= f.collection_select(:user_profile_id,
                            UserProfile.all,
                            :id,
                            :name) %>
  </div>
  <div class="small-2 medium-2 large-2 columns">
    <label>&nbsp;</label>
    <%= f.submit "Apply", name: "apply", class: "zfbutton tiny radius" %>
  </div>

<% end %>
<% if @day_shapes && !@day_shapes.empty? %>
    <div class="small-12 medium-6 large-4 columns">
      <label>Background events</label>
      <%= f.collection_select(:day_shape_id,
                              @day_shapes,
                              :id,
                              :name,
                              {:include_blank => "--None--"}) %>

    </div>
<% end %>
  </div>

<div class="row">
<% if @full_details %>

  <%= tscb_group(f, @user, :permissions, 12, 6, "Permissions", PermissionFlags.permitted_keys, @user.user_profile.permissions) %>

  <%= flag_group(f, 12, 6, "Information",
                 [
                   {field: :arranges_cover,
                    prompt: "Cover",
                    annotation: "Does this user administer cover?"},
                   {field: :secretary,
                    annotation: "Does this user enter events on behalf of other people? Causes the Owner field in new events to be left blank."}
                 ]) %>

<% else %>
  <div class="small-12 medium-6 columns">
  </div>
<% end %>
<% if current_user.admin || current_user.element_owner %>
  <%= flag_group(f, 12, 6, "Resource request notifications",
                 [
                   {field: :email_notification,
                    prompt: "Daily",
                    annotation: "Should the system send daily e-mail notifications of pending requests?"},
                   {field: :immediate_notification,
                    prompt: "Immediate",
                    annotation: "Should the system send immediate e-mail notifications of resource requests?"}
                 ]) %>
<% end %>
<% if current_user.admin || current_user.staff? %>
  <%= flag_group(f, 12, 6, "Display options",
                 [
                   {field: :list_teachers,
                    prompt: "List teachers",
                    annotation: "Should newly created concerns default to listing teachers' initials in events?"}
                 ]) %>
<% if current_user.create_events? %>
  <%= flag_group(f, 12, 6, "Creating events",
                 [
                   {field: :warn_no_resources,
                    prompt: "Warn resources",
                    annotation: "When creating a new event, should the system display a warning message if it has no resources?"},
                    {field: :show_pre_requisites,
                     prompt: "Show pre-requisites",
                     annotation: "When creating a new event, should the system prompt you with likely resources which you might want to include?"}
                 ]) %>
<% end %>
  <%= flag_group(f, 12, 6, "Clash notifications",
                 [
                   {field: :clash_weekly,
                    prompt: "Weekly",
                    annotation: "Should the system send a weekly summary of instances where students are expected to miss your lessons?"},
                   {field: :clash_daily,
                    prompt: "Daily",
                    annotation: "Should the system send a daily summary of instances where students are expected to miss your lessons?"},
                   {field: :clash_immediate,
                    prompt: "Immediate",
                    annotation: "Should the system send notifications of pupils missing your lessons as soon as they are identified?"}
                 ]) %>
  <%= flag_group(f, 12, 6, "Invigilation notifications",
                 [
                   {field: :invig_weekly,
                    prompt: "Weekly",
                    annotation: "Should the system send a weekly summary of your invigilation slots?"},
                   {field: :invig_daily,
                    prompt: "Daily",
                    annotation: "Should the system send a daily summary of your invigilation slots?"}
                 ]) %>
  <% end %>
</div>
<div class="row collapse">
  <div class="small-4 columns">
    <%=
      if @full_details
        link_to "Back to list",
          users_path({user_id: @user.id}),
          class: "zfbutton tiny radius button-link"
      else
        ""
      end
      %>
  </div>
  <div class="small-4 columns">
    <% if current_user.can_su && !@modal && current_user.id != @user.id %>
      <div align="center">
         <%= link_to 'su', become_path(@user), :method => :put, class: "tiny zfbutton radius button-link" %>
      </div>
    <% end %>
  </div>
  <div class="small-4 columns">
    <div class="actions" align="right">
      <%= f.submit "Update", :class => "zfbutton tiny radius" %>
    </div>
  </div>
</div>

<% end %>
