<table class="zftable">
<% if @selector_box %>
<tr>
  <td colspan="<%= @third_column ? "3" : "2" %>">
    <%= form_for(@concern, remote: true) do |f| %>
      <%= f.autocomplete_field :name,
                               autocomplete_element_name_elements_path,
                               :id_element => '#concern_element_id',
                               :placeholder => "Add watch item",
                               "data-auto-focus" => true,
                               class: :auto_submit_item %>
      <%= f.text_field :element_id, type: :hidden %>
      <%= f.submit "Go", class: "hidden_submit" %>
    <% end %>
  </td>
</tr>
<% end %>
<% if @my_events %>
<tr>
  <td style="background-color:<%= current_user.colour_not_involved %>" class="concern-cell rounded-corners">
    My events
  </td>
  <td class="concern-cell">
    <input type="checkbox" class="active-checkbox" data-cid="owned" <%= user.show_owned ? "checked" : "" %> />
  </td>
  <% if @third_column %>
    <td class="concern-cell"></td>
  <% end %>
</tr>
<% end %>
<%= render @concerns %>
</table>
