<table style="current_user_table">
<tr><td style="width:80%;"> </td><td style="width:10px;"></td><td style="width:10px;"></td></tr>
<tr>
  <td style="background-color:<%= current_user.colour_not_involved %>;color:white;font-size:90%">
    My events
  </td>
  <td>
    <input type="checkbox" class="active-checkbox" concern_id="owned" <%= user.show_owned ? "checked" : "" %> />
  </td>
  <td></td>
</tr>
<%= render user.concerns.me %>
<% if user.concerns.not_me.size > 0 %>
  <%= render user.concerns.not_me.sort %>
<% end %>
<tr><th>Quick add</th><th></th></tr>
<tr>
  <td colspan="3">
    <%= form_for(@concern, remote: true) do |f| %>
      <%= f.autocomplete_field :name,
                               autocomplete_element_name_elements_path,
                               :id_element => '#concern_element_id' %>
      <%= f.text_field :element_id, :type => :hidden %>
      <%= f.submit "Find" %>
    <% end %>
  <td>
</tr>
</table>
