<table class="zftable">
<% if current_user.can_add_concerns %>
<tr>
  <td colspan="3">
    <%= form_for(@concern, remote: true) do |f| %>
      <%= f.autocomplete_field :name,
                               autocomplete_element_name_elements_path,
                               :id_element => '#concern_element_id',
                               :placeholder => "Add watch item",
                               "data-auto-focus" => true %>
      <%= f.text_field :element_id, :type => :hidden %>
    <% end %>
  <td>
</tr>
<% end %>
<% if current_user.editor %>
<tr>
  <td style="background-color:<%= current_user.colour_not_involved %>;color:white;font-size:90%;padding-top:0px;padding-bottom:0px;" class="rounded-corners">
    My events
  </td>
  <td style="padding-top:0px;padding-bottom:0px;">
    <input type="checkbox" class="active-checkbox" concern_id="owned" <%= user.show_owned ? "checked" : "" %> />
  </td>
  <td style="padding-top:0px;padding-bottom:0px;"></td>
</tr>
<% end %>
<%= render user.concerns.me %>
<% if user.concerns.not_me.size > 0 %>
  <%= render user.concerns.not_me.sort %>
<% end %>
</table>
