<h1>Listing users</h1>
<p id="notice"><%= notice %></p>

<%= will_paginate @users %>
<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
<% if current_user.can_su %>
        <%= link_to 'su', become_path(user), :method => :put %>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>

<br>

<%= link_to 'New Staff', new_staff_path %>
