<h1>Listing<%=
  if @user_profile
    " \"#{@user_profile.name}\""
  else
    ""
  end
%> users</h1>
<p id="notice"><%= notice %></p>

<div class="row collapse">
  <div class="small-12 medium-8 columns">
    <%= render 'user_finding_form' %>
  </div>
  <div class="small-12 medium-4 columns">
  </div>
</div>

<div class="row collapse">
  <div class="small-12 columns">
    <div class="apple_pagination">
      <%= will_paginate @users %>
    </div>

    <table class="zftable">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Type</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.type_text %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure you want to delete user '#{user.name}'?" } %></td>
            <td>
              <% if user_can_su? &&
                  current_user.id != user.id &&
                  current_user.as_privileged_as?(user) %>
                <%= link_to 'su', become_path(user), :method => :put %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</div>

