<% if @minimal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td><strong>E-mail:</strong></td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td><strong>Provider:</strong></td>
    <td><%= @user.provider %></td>
  </tr>

  <tr>
    <td><strong>Uid:</strong></td>
    <td><%= @user.uid %></td>
  </tr>

  <tr>
    <td><strong>Administrator:</strong></td>
    <td><%= @user.admin %></td>
  </tr>

  <tr>
    <td><strong>Editor:</strong></td>
    <td><%= @user.editor %></td>
  </tr>

  <tr>
    <td><strong>Arranges cover:</strong></td>
    <td><%= @user.arranges_cover %></td>
  </tr>

  <tr>
    <td><strong>Preferred event category:</strong></td>
    <td><%= @user.preferred_event_category ?
            @user.preferred_event_category.name :
            "" %></td>
  </tr>

  <tr>
    <td><strong>Secretary:</strong></td>
    <td><%= @user.secretary %></td>
  </tr>

</table>

<table>
  <tr><th>Concerns</th><th>Equality</th><th>Owns</th><th>Auto add</th></tr>
  <% @user.concerns.sort.each do |concern| %>
    <tr>
      <td><%= concern.element.name %></td>
      <td><%= concern.equality %></td>
      <td><%= concern.owns %></td>
      <td><%= concern.auto_add %></td>
    </tr>
  <% end %>
</table>

<% if !@minimal %>
<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
