<h1>Listing locationaliases</h1>
<p id="notice"><%= notice %></p>

<div class="digg_pagination">
  <%= will_paginate @locationaliases %>
</div>
<table class="zftable">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Location name</th>
      <th>Source id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locationaliases.each do |locationalias| %>
      <tr>
        <td><%= locationalias.name %></td>
        <% if locationalias.location %>
          <td><%= locationalias.location.name %></td>
        <% else %>
          <td>None</td>
        <% end %>
        <td><%= locationalias.source_id %></td>
        <td><%= link_to 'Show', locationalias %></td>
        <td><%= link_to 'Edit', edit_locationalias_path(locationalias) %></td>
        <td><%= link_to 'Destroy', locationalias, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @locationaliases %>
</div>

<br>

<%= link_to 'New Locationalias', new_locationalias_path, class: "button radius" %>
