<table class='zftable'>
  <thead>
    <tr>
      <th>Staff</th>
      <th>Subject</th>
      <th>Pupils</th>
    </tr>
  </thead>
  <tbody>
    <%= render collection: @ad_hoc_domain.ad_hoc_domain_staffs, partial: 'ad_hoc_domains/ad_hoc_domain_staff' %>
  </tbody>
</table>
<% if @default_ad_hoc_domain_subject %>
  <div id='ahd-staff-errors'></div>
  <%= form_with(model: [@default_ad_hoc_domain_subject, @blank_ad_hoc_domain_staff], local: false) do |form| %>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= form.label :new_staff_element_id, "Teacher to add", class: "right inline" %>
      </div>
      <div class="small-4 columns">
      <%=
        form.autocomplete_field(
          :staff_element_name,
          autocomplete_staff_element_name_elements_path,
          'data-auto-focus' => true,
          id: 'staff-element-name',
          :id_element => '#staff-element-id',
          :placeholder => "Teacher name",
          :class => 'compressed')
      %>
      <%=
        form.text_field(
          :staff_element_id,
          type: :hidden,
          id: 'staff-element-id')
        %>
      </div>
      <div class="small-4 offset-1 columns annotation">
      </div>
    </div>
  <% end %>
<% end %>

