
<h1>Arranging <%= @ad_hoc_domain.name %></h1>

<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#ahd-subjects">Subjects</a></li>
  <li class="tab-title"><a href="#ahd-teachers">Teachers</a></li>
  <li class="tab-title"><a href="#ahd-pupils">Pupils</a></li>
  <li class="tab-title active"><a href="#ahd-cycles">Cycles</a></li>
</ul>

<hr/>
<div class="tabs-content">
  <div class="content" id="ahd-subjects">
    <h3>Subjects</h3>
    <table class='zftable'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Teachers</th>
          <th>Pupils</th>
        </tr>
      </thead>
      <tbody>
        <% @ad_hoc_domain.subject_elements.each do |se| %>
        </tbody>
      <% end %>
    </table>
    <%= form_with(model: @ad_hoc_domain) do |form| %>
      <div class="row collapse">
        <div class="small-3 columns">
          <%= form.label :new_subject_element_id, "Subject to add", class: "right inline" %>
        </div>
        <div class="small-4 columns">
        <%=
          form.autocomplete_field(
            :new_subject_element_name,
            autocomplete_subject_element_name_elements_path,
            'data-auto-focus' => true,
            :id_element => '#new-subject-element-id',
            :placeholder => "Subject name",
            :class => 'compressed')
        %>
        <%=
          form.text_field(
            :new_subject_element_id,
            type: :hidden,
            id: 'new-subject-element-id')
          %>
        </div>
        <div class="small-4 offset-1 columns annotation">
        </div>
      </div>
    <% end %>
  </div>
  <div class="content" id="ahd-teachers">
    <h3>Teachers</h3>
  </div>
  <div class="content" id="ahd-pupils">
    <h3>Pupils</h3>
  </div>
  <div class="content active" id="ahd-cycles">
    <h3>Cycles</h3>
  </div>
</div>

<p>List of teachers who teach music</p>

<p>Means to add and remove</p>

<p>Means to edit schedule for each</p>

<p>List of pupils who study music</p>

<p>Means to add and remove</p>

<p>List of cycles - typically half a term</p>

<p>Means to add and remove, plus generate lessons for a cycle</p>

<p>Means to allocate pupils to lessons</p>
