<h1>Listing properties</h1>
<p id="notice"><%= notice %></p>

<div class="digg_pagination">
  <%= will_paginate @properties %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owners</th>
      <th>Public</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.owners_initials %></td>
        <td><%= property.make_public? ? "Yes" : "No" %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td>
          <% if property.can_destroy? %>
            <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @properties %>
</div>

<br>

<%= link_to 'New Property', new_property_path, :class => "button small radius" %>
