<div id="mainContainer">
  <div class="row collapse calendarbit">
  <% if @show_lhs %>
    <div class="large-2 small-3 columns">
      <div id="current_user">
        <%= render @user %>
      </div>
    </div>
    <div class="large-10 small-9 columns fillup">
  <% else %>
    <div class="hidden-lhs" id="current_user">
      <%= render @user %>
    </div>
    <div class="large-12 columns fillup">
  <% end %>
      <div id="fullcalendar" class="flag-refreshes<%=
        @with_edit ? " withedit" : ""
        %>" data-firstday="<%= @first_day %>" data-defaultdate="<%= @default_date %>" data-dorefresh="0"<%= @andopen ? " data-andopen=#{@andopen}" : ""  %>></div>
    </div>
  </div>
  <div class="bottomrighttext">
    <% if admin_user? %>
      <span title="<%= Setting.rr_versions %>"><%= SOFTWARE_VERSION %></span>
    <% else %>
      <%= SOFTWARE_VERSION %>
    <% end %>
  </div>
  <div class="bottomtext">
    <a href="https://xronos.uk/" target="_blank">Xronos Scheduler</a>
  </div>
</div>

<script type="text/template" id="request-set-template">
<div class="row collapse">
<div class="small-12 columns quantity"></div>
<div class="small-6 columns fulfillments rqbox">
  <h1><span> Allocated </span></h1>
  <ol>
  </ol>
</div>
<div class="small-6 columns candidates rqbox">
  <h1><span> Available </span></h1>
  <ul>
    <li>...populating...</li>
  </ul>
</div>
<div class="small-6 columns extra">
  <div class="row collapse">
    <div class="small-10 columns">
      <input class="inputextra"
             placeholder="Extra resource"
             data-autocomplete="/elements/autocomplete_staff_element_name"
             data-auto-focus="true"
             data-id-element="#extra_resource_id"
             data-append-to="#eventModal"
             type="text" />
      <input class="extra_resource_id"
             id="extra_resource_id"
             type="hidden" />
    </div>
    <div class="small-2 columns">
      <a href="#" class="zfbutton postfix" id="addbutton">Add</a>
    </div>
  </div>
</div>
<div class="small-6 columns extra">
</div>
</script>

<script type="text/template" id="request-quantity-template">
<p>Request for <input class="spinner" name="quantity"> <%%= element_name %></p>
</script>

<script type="text/template" id="candidate-line">
<a href="#" class="adder">+</a> <%%= name %> (<%%= today_count %>, <%%= this_week_count %>)
</script>

<script type="text/template" id="nominee-line">
<%%= name %> <a href="#" class="deleter">&#215;</a>
</script>

