<tr>
  <td><%= event.starts_at_text %></td>
  <td><%= event.duration_text %></td>
  <td title="<%= event.body %>"><%= event.trimmed_body(40) %></td>
  <% if @show_owner %>
    <td title="Owner"><%= event.owners_initials %></td>
  <% end %>
  <% if @show_organiser %>
    <td title="Organiser"><%= event.organisers_initials %></td>
  <% end %>
  <% if event.complete %>
    <td></td>
  <% else %>
    <td class="incomplete-event" title="Incomplete">Inc</td>
  <% end %>
  <% if event.pending_count_no_db > 0 %>
    <td title="Pending approvals"><%= event.pending_count_no_db %></td>
  <% else %>
    <td></td>
  <% end %>
  <% if event.rejected_count_no_db > 0 %>
    <td title="Rejected requests"><%= event.rejected_count_no_db %></td>
  <% else %>
    <td></td>
  <% end %>
  <td>
    <%= event.pending_form_count > 0 ? event.pending_form_count : "" %>
  </td>
</tr>
