<tr>
  <td>
    <%=
      link_to(
        event.starts_at_text,
        schedule_show_path(
          date: event.jump_date_text,
          my_events: true
        )
      )
    %>
  </td>
  <td><%= event.duration_text %></td>
  <td><%= link_to(event.trimmed_body(40),
                  event_path(event, from_listing: true),
                  title: event.body,
                  "data-reveal-id" => "eventModal",
                  "data-reveal-ajax" => true) %></td>
  <% if @show_owner %>
    <td title="Owner"><%= event.owners_initials %></td>
  <% end %>
  <% if @show_organiser %>
    <td title="Organiser"><%= event.organisers_initials %></td>
  <% end %>
  <% if event.complete? %>
    <td></td>
  <% else %>
    <td class="incomplete-event" title="Incomplete">No</td>
  <% end %>
  <td><%= approvals_table_list(event) %></td>
  <td><%= forms_table_list(event) %></td>
  <% if @show_actions %>
    <td><%= actions_table_list(event) %></td>
  <% end %>
</tr>
