<% if @event.id %>
<h2>Editing event</h2>
<% else %>
<h2>New event</h2>
<% end %>
<div id="event-editing-upper">
<%= form_for(@event, remote: @minimal) do |f| %>
  <div id="for_errors">
    <% if @event.errors.any? %>
      <%= render "error_msgs" %>
    <% end %>
  </div>

  <%= f.text_field :precommit_element_id,
                   :type => :hidden,
                   :readonly => true %>

  <div class="row">
    <div class="small-9 columns">
      <label>Description</label>
      <% if current_user.can_edit?(@event) %>
        <%= f.text_field :body,
                         :id => "first_field",
                         :placeholder => "Please describe what is happening",
                         :class => 'compressed' %>
      <% else %>
        <%= f.text_field :body, :disabled => true %>
      <% end %>
    </div>
    <div class="small-3 columns">
      <label>Event category</label>
      <% if current_user.can_edit?(@event) %>
        <%= f.collection_select(:eventcategory_id,
                                @event.suitable_categories(current_user).sort,
                                :id,
                                :name,
                                { prompt: true },
                                { class: 'compressed' }) %>
      <% else %>
        <%= f.collection_select(:eventcategory_id,
                                @event.suitable_categories(current_user).sort,
                                :id,
                                :name,
                                { prompt: true },
                                { disabled: 'disabled', class: 'compressed' }) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label>Starts</label>
      <% if current_user.can_retime?(@event) %>
        <%= f.text_field :starts_at_text,
                         class: 'datetimepicker compressed' %>
      <% else %>
        <%=
          f.text_field :starts_at_text,
            disabled: true,
            class: 'compressed'
        %>
      <% end %>
    </div>
    <div class="small-3 columns">
      <label>Ends</label>
      <% if current_user.can_retime?(@event) %>
        <%= f.text_field :ends_at_text,
                         class: 'datetimepicker compressed' %>
      <% else %>
        <%=
          f.text_field :ends_at_text,
            disabled: true,
            class: 'compressed'
          %>
      <% end %>
    </div>
    <% if current_user.can_retime?(@event) %>
      <%= flag_group(f, 4, 4, "Flags", [
                     {field: :all_day_field,
                      prompt: "All day",
                      annotation: "The event lasts all day.  Time fields will be ignored."}]) %>
    <% else %>
      <div class="small-6 columns">
      </div>
    <% end %>

  </div>
  <div class="row">
    <div class="small-3 columns">
      <label>Organiser</label>
      <% if current_user.can_edit?(@event) %>
      <%= f.autocomplete_field :organiser_name,
                               autocomplete_staff_element_name_elements_path,
                               :id_element => '#event_organiser_id',
                               :append_to => '#eventModal',
                               :placeholder => "Name of organiser (optional)",
                               class: 'compressed',
                               "data-auto-focus" => true %>
        <%= f.text_field :organiser_id, :type => :hidden %>
      <% else %>
        <%= f.text_field :organiser_name, :disabled => true %>
      <% end %>
    </div>
    <div class="small-5 columns">
      <label>Reference</label>
      <%= f.text_field :organiser_ref,
        :placeholder => "additional information (optional)",
        class: 'compressed'
      %>
    </div>
    <div class="small-4 columns">
    </div>
  </div>
  <div id="event-dialogue-buttons">
    <%= f.submit @event.id ? "Update" : "Create", :class => "zfbutton tiny radius" %>
    <% if @event.id %>
      <%= link_to "Cancel", canceledit_event_path(@event), :remote => true, :class => "zfbutton tiny radius" %>
    <% else %>
      <div class="zfbutton tiny radius closer">Cancel</div>
    <% end %>
  </div>
<% end %>
</div><!--  End of the event-editing-upper div -->

<br/>

<% if current_user.can_add_resources? %>
  <div class="row">
    <% if @event.id %>
  <%= form_for(@commitment, remote: true) do |f| %>
    <div class="small-10 columns">
    <%= f.autocomplete_field :element_name,
                             autocomplete_direct_add_element_name_elements_path,
                             'data-auto-focus' => true,
                             :id_element => '#commitment_element_id',
                             :append_to => '#eventModal',
                             :placeholder => "Type the name of a resource to add",
                             :class => 'compressed' %>
    <%= f.text_field :element_id, :type => :hidden %>
    <%= f.text_field :event_id, :type => :hidden %>
    </div>
    <div class="small-2 columns">
      <%= f.submit "Add resource", class: "zfbutton tiny radius" %>
    </div>
  <% end %>
    <div class="small-12 columns">
  <div id="event_resources">
    <%= render partial: "resource", object: @event, locals: {editing: true} %>
  </div>
<% elsif Setting.event_creation_prompt.blank? ||
         !current_user.show_pre_requisites? %>
  <p>Create the event first in order to allow resources to be added.</p>
<% else %>
  <%= Setting.event_creation_prompt %>
  <% if @pre_requisites %>
    <form id='event-pre-requisites'>
      <div class="row collapse">
        <%= render partial: "pr_column", collection: @pr_columns %>
      </div>
    </form>
  <% end %>
<% end %>
  </div>
<% end %>
