<%= form_for(@event, remote: @minimal) do |f| %>
  <div id="for_errors">
    <% if @event.errors.any? %>
      <%= render "error_msgs" %>
    <% end %>
  </div>

  <div id="meta_data">
    Source id: <%= @event.source_id %> Event id: <%= @event.id %><br/>
    Owner: <%= @event.owner_id ? @event.owner.name : "System" %>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :description, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :eventcategory_id, class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.collection_select(:eventcategory_id,
                              @event.suitable_categories.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
      <%= f.label :eventsource_id, class: "right inline" %>
    </div>
    <div class="small-3 columns">
    <%= f.collection_select(:eventsource_id,
                            Eventsource.all.sort,
                            :id,
                            :name,
                            { :prompt => true }) %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :starts, class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :starts_at_text,
                       :class => :datetimepicker %>
    </div>
    <div class="small-3 columns">
      <%= f.label :ends, class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :ends_at_text,
                       :class => :datetimepicker %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :organiser, class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.autocomplete_field :organiser_name,
                               autocomplete_staff_element_name_elements_path,
                               :id_element => '#event_organiser_id' %>
      <%= f.text_field :organiser_id, :type => :hidden %>
    </div>
    <div class="small-2 columns">
      <%= f.label :reference, class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= f.text_field :organiser_ref %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :all_day, class: "right" %>
    </div>
    <div class="small-1 columns">
      <%= f.check_box :all_day_field %>
    </div>
    <div class="small-8 columns"></div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
<% if @event.id %>
  <h3>Resources</h3>
  <div id="event_resources">
    <%= render partial: "resource", object: @event, locals: {editing: true} %>
  </div>
  <%= form_for(@commitment, remote: true) do |f| %>
    <%= f.autocomplete_field :element_name,
                             autocomplete_element_name_elements_path,
                             'data-auto-focus' => true,
                             :id_element => '#commitment_element_id' %>
    <%= f.text_field :element_id, :type => :hidden %>
    <%= f.text_field :event_id, :type => :hidden %>
    <%= f.submit "Add resource" %>
  <% end %>
  <%= link_to "Delete event entirely", @event, remote: @minimal, method: :delete, data: { confirm: "Are you sure you want to delete #{@event.body}?" } %>
  <div style="min-height: 18px;">
    <span id="clone_button"><%= link_to "Clone event", clone_event_path(@event), remote: @minimal, method: :post %></span>
    <span id="cloned_message" style="display: none; color: red;">Cloned</span>
  </div>
<% else %>
  <p>Save the event in order to allow resources to be added.</p>
<% end %>
