<tr>
  <td>
    <%=
      link_to(
        found_event.starts_at_text,
        schedule_show_path(date: found_event.jump_date_text)
      )
    %>
  </td>
  <td title="<%= found_event.body %>">
    <%=
      link_to(found_event.trimmed_body(40),
              event_path(found_event, from_listing: true),
              title: found_event.body,
              'data-reveal-id' => 'eventModal',
              'data-reveal-ajax' => true)
     %>
  </td>
<% if @full_details %>
  <td title="<%= found_event.properties.collect {|p| p.name}.join(",")%>">
    <%= found_event.properties.collect {|p|
          truncate(p.name, :length => 14)
        }.join("<br/>").html_safe %>
  </td>
<% end %>
  <td>
    <%= found_event.locations.collect {|l| l.name}.join("<br/>").html_safe %>
  </td>
<% if @full_details %>
  <td><%= found_event.organiser ? found_event.organiser.short_name : "" %></td>
  <td><%= found_event.owners_initials %></td>
  <td><%= found_event.complete? ? "Yes" : "No" %></td>
<% end %>
</tr>
