<% unless note.title.blank? %>
  <%= note.title %>
<% end %>
<div class="note_contents"><%= note.formatted_contents.html_safe %></div>
<% if current_user && current_user.can_delete?(note) %>
  <div class="delete_link">
    <%= link_to "Delete", note, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this note?' } %>
  </div>
<% end %>
<div class="edit_link">
  <% if current_user && current_user.can_edit?(note) %>
    <%= link_to "Edit", edit_note_path(note), remote: true %>
  <% else %>
    <%= note.owner && !note.promptnote ? note.owner.initials : "" %>
  <% end %>
</div>
<hr/>
