<% unless note.title.blank? %>
  <%= note.title %>
<% end %>
<% if note.any_attachments? %>
  <div class='row collapse'>
    <div class='small-9 columns'>
      <div class='note-html-contents'><%= note.formatted_contents.html_safe %></div>
    </div>
    <div class="small-3 columns">
      <div class='note-attachments'>
        <p>Attachments</p>
        <ul>
          <%= render note.attachments %>
        </ul>
        <p class='annotation'>Click name to download</p>
      </div>
    </div>
  </div>
<% else %>
  <div class='note-html-contents'><%= note.formatted_contents.html_safe %></div>
<% end %>
<% if current_user && current_user.can_delete?(note) %>
  <div class="delete_link">
    <%= link_to "Delete", note, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this note?' } %>
  </div>
<% end %>
<div class="edit_link">
  <% if current_user && current_user.can_edit?(note) %>
    <%= link_to "Edit", edit_note_path(note), remote: true %>
  <% else %>
    <%= note.owner && !note.promptnote ? note.owner.initials : "" %>
  <% end %>
</div>
<hr/>
