<% if known_user? %>
<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <label>Staff</label>
    <%= commitment_entries_for(resource, Staff, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Pupils</label>
    <%= commitment_entries_for(resource, Pupil, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Groups</label>
    <%= commitment_entries_for(resource, Group, editing, current_user) %>
  </div>
</div>
<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <label>Locations</label>
    <%= commitment_entries_for(resource, Location, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Services</label>
    <%= commitment_entries_for(resource, Service, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Properties</label>
    <%= commitment_entries_for(resource, Property, editing, current_user) %>
  </div>
</div>
<% else %>
<div class="row collapse">
  <div class="small-12 medium-4 columns">
    <label>Staff</label>
    <%= commitment_entries_for(resource, Staff, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Groups</label>
    <%= commitment_entries_for(resource, Group, editing, current_user) %>
  </div>
  <div class="small-12 medium-4 columns">
    <label>Locations</label>
    <%= commitment_entries_for(resource, Location, editing, current_user) %>
  </div>
</div>
<% end %>

