<% if @event.confidential? &&
    current_user &&
    current_user.can_see_body_of?(@event) %>
<span class='tinytext'>(Event's body text is not generally visible.)</span>
<% end %>
<h3><%= @event.body(current_user) %></h3>
<div class="row">
  <div class="small-12 medium-3 columns right_border">

    <div class="row">
      <% if @event.minimal_duration? %>
        <div class="small-12 columns"%>
          <label><%= @event.all_day ? "On" : "At" %>:</label>
          <p><%= @event.starts_at_text %></p>
        </div>
      <% else %>
        <div class="small-12 columns"%>
          <label>Starts</label>
          <p><%= @event.starts_at_text %></p>
        </div>
        <div class="small-12 columns"%>
          <label>Ends</label>
          <p><%= @event.ends_at_text %></p>
        </div>
      <% end %>
    </div>

    <% if known_user? %>
    <div class="row">
      <div class="small-12 columns">
        <label>Event category</label>
        <p><%= @event.eventcategory.name %></p>
      </div>
    </div>

    <% end %>

    <% unless @event.organiser == nil %>
      <div class="row">
        <div class="small-12 columns">
          <label>Organiser</label>
          <p>
          <%= @event.organiser ?  @event.organiser.name : "" %>
          </p>
        </div>
      </div>
    <% end %>

    <% if current_user && current_user.can_subedit?(@event) %>
      <div class="row">
        <div class="small-12 columns">
          <div class="wrap_link">
            <%=
              link_to("Wrap",
                      new_event_wrapper_path(@event),
                      remote: @minimal,
                      class: 'zfbutton teensy button-link')
                    %>
            <% if current_user.can_repeat?(@event) %>
              /
              <%=
                if @event.event_collection
                  link_to(
                    "Repeat",
                    edit_event_event_collection_path(
                      @event,
                      @event.event_collection
                    ),
                    remote: @minimal,
                    class: 'zfbutton teensy button-link'
                  )
                else
                  link_to(
                    "Repeat",
                    new_event_event_collection_path(@event),
                    remote: @minimal,
                    class: 'zfbutton teensy button-link'
                  )
                end
              %>
            <% end %>
          </div>
          <div class="edit_link">
            <%=
              link_to("Edit",
                      edit_event_path(@event),
                      remote: @minimal,
                      class: 'zfbutton teensy button-link')
                    %>
          </div>
        </div>
        <% if current_user.can_edit?(@event) %>
        <div class="small-12 columns">
          <div class="delete_link">
            <%=
              link_to(
                "Delete event entirely",
                @event,
                remote: @minimal,
                method: :delete,
                class: 'zfbutton teensy button-link',
                data: {
                  confirm: @event.deletion_warning_message
                }
              )
            %>
          </div>
          <div class='clone_link'>
            <% if @just_cloned %>
              <span id='clone_button' style='display:none'>
            <% else %>
              <span id='clone_button'>
            <% end %>
            <%=
#
#  This is the old "instant clone".  Could perhaps be restored at
#  some time with a name like "Instant clone".
#
#                link_to("Clone",
#                        clone_event_path(@event),
#                        remote: true,
#                        method: :post,
#                        class: 'zfbutton teensy button-link')
              link_to("Clone",
                      new_event_cloner_path(@event),
                      remote: @minimal,
                      class: 'zfbutton teensy button-link')
              %>
            </span>
            <span id='cloning_message' style="display: none; color: red;">
              Cloning
            </span>
            <% if @just_cloned %>
              <span id='cloned_message' style="color: green;">
                Cloned
              </span>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <% if known_user? %>
      <small>
        <div id="meta_data">
          Event id: <%= @event.id %><br/>
          Owner: <%=
            @event.owner_id == nil || @event.owner_id == 0 ?
            "System" :
            @event.owner.name
            %><br/>
          Created: <%= @event.created_at_text %><br/>
          Updated: <%= @event.updated_at_text %><br/>
          Event source: <%= @event.eventsource.name %>
        <% if @event.journal && current_user.can_view_journal_for?(@event) %>
          <br/><%= link_to "Journal", @event.journal %>
        <% end %>
        </div>
      </small>
      </p>
    <% end %>

  </div>
  <div class="small-12 medium-9 columns">
    <% if @resourcewarning %>
      <%= render partial: "events/warning" %>
    <% elsif @form_count && (@form_count > 0) %>
      <%= render partial: "events/pending_count" %>
    <% end %>
    <div id="show-all-commitments">
      <%= render partial: "show_all_commitments" %>
    </div>
    <% if @element_connections_with_forms %>
      <div class="row">
        <div class="small-12 columns">
          <hr/>
          Forms: <%= form_viewing_links(@element_connections_with_forms) %>
        </div>
      </div>
    <% end %>
    <div id="event-notes">
      <%= render partial: "notes", object: @notes %>
    </div>
    <% unless @invigilation_requests.blank? %>
      <div id="invigilation-requests">
        <div class="row">
          <div class="small-12 columns">
            <% @invigilation_requests.each do |r| %>
              <div class="request-div" data-request-id="<%= r.id %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user && @event.repeating_event? && current_user.could_repeat?(@event) %>
      <div id='repeating-message'>
        This event is one instance of a
        <a target="_blank" href="https://xronos.uk/repeating.html">repeating event</a>
        set.  If you edit it, you may wish to
        consider propagating your changes to the rest of the set.
      </div>
    <% end %>
<% if false %>
    <div id="attached_files">
      <%= render partial: "attachments/attached_files", object: @files %>
    </div>
<% end %>
  </div>
</div>
<div class="bottom-spacer">
<%- # The done button floats to the bottom.  This div makes space -%>
</div>
<%= render partial: "done_button" %>

