<div class="row">
  <%= render partial: "events/commitment_set",
    collection: @visible_commitments,
    locals: {singleton: @visible_commitments.size == 1}
  %>
<% if @relocate_link %>
  <div class="small-12 columns">
    <div id="relocate-link">
      <%= link_to "Relocate lesson", "#" %>
    </div>
    <div id="relocate-space" data-event-id="<%= @event.id %>" data-commitment-id="<%= @location_commitment_id %>">
      <div class="row collapse">
        <h5>Re-locating</h5>
        <div class="small-6 columns" id="for-pop-down">
          <p>I'm some space for relocating a lesson.</p>
        </div>
        <div class="small-1 small-offset-1 column">
          <span class="zfbutton tiny radius" id="relocate-ok">OK</span>
        </div>
        <div class="small-1 small-offset-1 column">
          <span class="zfbutton tiny radius" id="relocate-cancel">Cancel</span>
        </div>
        <div class="small-2 columns">
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if @approvable_commitments.size > 0 %>
  <div class="row">
    <%= render partial: "events/commitment_for_approval",
               collection: @approvable_commitments %>
  </div>
<% end %>

