<h1>Listing events</h1>
<p id="notice"><%= notice %></p>

<%= will_paginate @events %>
<table class="zftable">
  <thead>
    <tr>
      <th>Body</th>
      <th>Eventcategory</th>
      <th>Eventsource</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>All day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>
</table>
<%= will_paginate @events %>

<br>

<%= link_to 'New Event', new_event_path, class: "button radius" %>
