<h1>Listing events</h1>
<p id="notice"><%= notice %></p>

<div class="digg_pagination">
  <%= will_paginate @events %>
</div>
<table class="zftable">
  <thead>
    <tr>
      <th>Body</th>
      <th>Category</th>
      <th>When</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<br>

<%= link_to 'New Event', new_event_path, class: "zfbutton tiny radius" %>
