<% if @flip_button %>
  <div class="flip-button">
    <%= link_to @flip_text, @flip_target, class: "zfbutton tiny radius" %>
  </div>
<% end %>
<h1><%= @title %></h1>

<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Start</th>
      <th>Duration</th>
      <th>Body</th>
      <% if @show_owner %>
        <th title="Owner">Own</th>
      <% end %>
      <% if @show_organiser %>
        <th title="Organiser">Org</th>
      <% end %>
      <th title="Complete?">Complete</th>
      <th title="Resources requiring approval">Approvals</th>
      <th title="Forms to complete">Forms</th>
      <% if @show_actions %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<br>

