<h1><%= @title %></h1>

<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Start</th>
      <th>Duration</th>
      <th>Body</th>
      <% if @show_status %>
        <th>Approval</th>
      <% end %>
      <% if @show_our_form_status %>
        <th>Form</th>
      <% end %>
      <th title="Incomplete">Inc</th>
      <th title="Pending approvals">Pend</th>
      <th title="Rejections">Rej</th>
      <% if @show_pending_form_count %>
        <th title="Forms to complete">Frms</th>
      <% end %>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<br>

<%= link_to 'New Event', new_event_path, class: "zfbutton tiny radius" %>
