<% if @minimal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td><strong>Description:</strong></td>
    <td><%= @event.body %></td>
  </tr>

  <tr>
    <td><strong>Event category:</strong></td>
    <td><%= @event.eventcategory.name %></td>
  </tr>

  <tr>
    <td><strong>Event source:</strong></td>
    <td><%= @event.eventsource.name %></td>
  </tr>

  <tr>
    <td><strong>Owner:</strong></td>
    <td><%= @event.owner_id == nil || @event.owner_id = 0 ?
            "None" :
            @event.owner.name %></td>
  </tr>

  <% if @event.all_day %>
    <% if @event.starts_at == @event.ends_at %>
      <tr>
        <td><strong>On:</strong></td>
        <td><%= @event.starts_at.to_date %></td>
      </tr>

    <% else %>
      <tr>
        <td><strong>Starts on:</strong></td>
        <td><%= @event.starts_at.to_date %></td>
      </tr>

      <tr>
        <td><strong>Ends on:</strong></td>
        <td><%= @event.ends_at.to_date %></td>
      </tr>
    <% end %>
  <% else %>
    <% if @event.starts_at == @event.ends_at %>
      <tr>
        <td><strong>At:</strong></td>
        <td><%= @event.starts_at %></td>
      </tr>
    <% else %>
      <tr>
        <td><strong>Starts at:</strong></td>
        <td><%= @event.starts_at %></td>
      </tr>

      <tr>
        <td><strong>Ends at:</strong></td>
        <td><%= @event.ends_at %></td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td><strong>Resources:</strong></td>
    <td>
      <% @event.resources.each do |resource| %>
        <%= resource.display_name %><br/>
      <% end %>
    </td>
  </tr>

  <tr>
    <td><strong>Source id:</strong></td>
    <td><%= @event.source_id %></td>
  </tr>
</table>

<% if !@minimal %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>
