<% if @minimal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>

<div class="row">
  <div class="small-3 columns">
    <strong class="right">Description:</strong>
  </div>
  <div class="small-9 columns">
    <%= @event.body %>
  </div>
</div>

<% if known_user? %>
<div class="row">
  <div class="small-3 columns">
    <strong class="right">Event category:</strong>
  </div>
  <div class="small-3 columns">
    <%= @event.eventcategory.name %>
  </div>
  <div class="small-3 columns">
    <strong class="right">Event source:</strong>
  </div>
  <div class="small-3 columns">
    <%= @event.eventsource.name %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <strong class="right">Event id:</strong>
  </div>
  <div class="small-3 columns">
    <%= @event.id %>
  </div>
  <div class="small-3 columns">
    <strong class="right">Owner:</strong>
  </div>
  <div class="small-3 columns">
    <%= @event.owner_id == nil || @event.owner_id == 0 ?
        "System" :
        @event.owner.name %>
  </div>
</div>

<% end %>

<div class="row">
  <div class="small-3 columns">
    <strong class="right">Organiser:</strong>
  </div>
  <div class="small-9 columns">
    <%= @event.organiser ?
        @event.organiser.name :
        "" %>
  </div>
</div>
<div class="row">
  <% if @event.minimal_duration? %>
    <div class="small-3 columns"%>
      <strong class="right"><%= @event.all_day ? "On" : "At" %>:</strong>
    </div>
    <div class="small-9 columns"%>
      <%= @event.starts_at_text %>
    </div>
  <% else %>
    <div class="small-3 columns"%>
      <strong class="right">Starts <%= @event.all_day ? "on" : "at" %>:</strong>
    </div>
    <div class="small-3 columns"%>
      <%= @event.starts_at_text %>
    </div>
    <div class="small-3 columns"%>
      <strong class="right">Ends <%= @event.all_day ? "on" : "at" %>:</strong>
    </div>
    <div class="small-3 columns"%>
      <%= @event.ends_at_text %>
    </div>
  <% end %>
</div>

<div id="event_resources">
  <%= render partial: "resource", object: @event, locals: {editing: false} %>
</div>

<% if !@minimal %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>
