<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :current_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:current_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :next_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:next_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :previous_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:previous_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :perpetual_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:perpetual_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :enforce_permissions, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :enforce_permissions %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :current_mis, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :current_mis %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :previous_mis, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :previous_mis %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :auth_type, "Authentication type", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%=
        f.collection_select(
          :auth_type,
          Setting.auth_types.map {|at| [at.first, at.first.humanize]},
          :first,
          :second)
        %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :dns_domain_name, "DNS domain name", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :dns_domain_name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :prefer_https, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :prefer_https %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Required UUID for iCal feed", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :require_uuid %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :from_email_address, "E-mail address for From:", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :from_email_address %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      &nbsp;
    </div>
    <div class="small-6 columns">
      <%= f.submit "Update", class: "zfbutton tiny radius" %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
<% end %>
