<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_era %><br>
    <%= f.collection_select(:current_era_id,
                            Era.all.sort,
                            :id,
                            :name,
                            { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label :next_era %><br>
    <%= f.collection_select(:next_era_id,
                            Era.all.sort,
                            :id,
                            :name,
                            { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label :previous_era %><br>
    <%= f.collection_select(:previous_era_id,
                            Era.all.sort,
                            :id,
                            :name,
                            { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label :perpetual_era %><br>
    <%= f.collection_select(:perpetual_era_id,
                            Era.all.sort,
                            :id,
                            :name,
                            { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label :enforce_permissions %><br>
    <%= f.check_box :enforce_permissions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
