<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :title_text, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :title_text %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :public_title_text, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :public_title_text %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :current_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:current_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :next_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:next_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :previous_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:previous_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :perpetual_era, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:perpetual_era_id,
                              Era.all.sort,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :enforce_permissions, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :enforce_permissions %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :current_mis, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :current_mis %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :previous_mis, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :previous_mis %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :auth_type, "Authentication type", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%=
        f.collection_select(
          :auth_type,
          Setting.auth_types.map {|at| [at.first, at.first.humanize]},
          :first,
          :second)
        %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :dns_domain_name, "DNS domain name", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :dns_domain_name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :prefer_https, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :prefer_https %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Require UUID for iCal feed", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :require_uuid %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :from_email_address, "E-mail address for From:", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :from_email_address %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :room_cover_group_element_name, "Room cover group", class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.autocomplete_field :room_cover_group_element_name,
                               autocomplete_group_element_name_elements_path,
                               :id_element => '#setting_room_cover_group_element_id',
                               :placeholder => "Group of rooms to use for cover",
                               "data-auto-focus" => true %>
      <%= f.text_field :room_cover_group_element_id, :type => :hidden %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :event_creation_markup, "Event creation prompt", class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_area :event_creation_markup, rows: "6" %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :wrapping_before_mins, "Default set-up time (mins)", class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.number_field :wrapping_before_mins %>
    </div>
    <div class="small-6 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :wrapping_after_mins, "Default clear-up time (mins)", class: "right inline" %>
    </div>
    <div class="small-3 columns">
      <%= f.number_field :wrapping_after_mins %>
    </div>
    <div class="small-6 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :wrapping_eventcategory_name, "Event category for set-up", class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.autocomplete_field :wrapping_eventcategory_name,
                               autocomplete_eventcategory_name_eventcategories_path,
                               :id_element => '#setting_wrapping_eventcategory_id',
                               :placeholder => "Event category for set-up events",
                               "data-auto-focus" => true %>
      <%= f.text_field :wrapping_eventcategory_id, :type => :hidden %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :default_display_day_shape, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:default_display_day_shape_id,
                              @day_shapes,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :default_free_finder_day_shape, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.collection_select(:default_free_finder_day_shape_id,
                              @day_shapes,
                              :id,
                              :name,
                              { :prompt => true }) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :tutorgroups_by_house, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :tutorgroups_by_house %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :ordinalize_years, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.check_box :ordinalize_years %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :tutorgroups_name, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :tutorgroups_name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :tutor_name, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :tutor_name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :prep_suffix, class: "right" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :prep_suffix %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%=
        f.label :prep_property_element_name,
                "Prep property",
                class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.autocomplete_field :prep_property_element_name,
                               autocomplete_property_element_name_elements_path,
                               :id_element => '#setting_prep_property_element_id',
                               :placeholder => "Property indicating prep/homework",
                               "data-auto-focus" => true %>
      <%= f.text_field :prep_property_element_id, :type => :hidden %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      &nbsp;
    </div>
    <div class="small-6 columns">
      <%= f.submit "Update", class: "zfbutton tiny radius" %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
<% end %>
