<%= form_for(@teachinggroup) do |f| %>
  <% if @teachinggroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teachinggroup.errors.count, "error") %> prohibited this teachinggroup from being saved:</h2>

      <ul>
      <% @teachinggroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :era_id %><br>
    <%= f.number_field :era_id %>
  </div>
  <div class="field">
    <%= f.label :current %><br>
    <%= f.check_box :current %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
