<h1>Parsed input file</h1>

<table class="zftable">
  <tbody>
    <tr>
      <td>File name:</td>
      <td><%= @name %></td>
    </tr>
    <tr>
      <td>Entries:</td>
      <td><%= @entries %></td>
    </tr>
    <tr>
      <td>Earliest entry:</td>
      <td><%= @earliest_date ? @earliest_date.strftime("%d/%m/%Y") : "None" %></td>
    </tr>
    <tr>
      <td>Latest entry:</td>
      <td><%= @latest_date ? @latest_date.strftime("%d/%m/%Y") : "None" %></td>
    </tr>
  </tbody>
</table>

<h2>Confirm data import</h2>
<%= form_tag({action: :commit_file}) do %>
<%= hidden_field_tag(:name, @name, :readonly => true) %>
<table class="zftable">
  <tbody>
    <tr>
      <td>Data source:</td>
      <td>
        <%= select_tag(:eventsource,
                       options_from_collection_for_select(Eventsource.all.sort,
                                                          :id,
                                                          :name)) %>
      </td>
    </tr>
    <tr>
      <td>Event category:</td>
      <td>
        <%= select_tag(:event_category,
                       options_from_collection_for_select(Eventcategory.all.sort,
                                                          :id,
                                                          :name)) %>
      </td>
    </tr>
    <tr>
      <td>Property:</td>
      <td>
        <%=
          autocomplete_field_tag(:property_name,
                                 '',
                                 autocomplete_property_element_name_elements_path,
                                 :id_element => '#element_id',
                                 :placeholder => "property name",
                                 "data-auto-focus" => true)
         %>
       <%= text_field_tag :property_element_id, '', :type => :hidden, :id => 'element_id' %>
      </td>
    </tr>
    <tr>
      <td>Give to:</td>
      <td>
        <%=
          autocomplete_field_tag(:user_name,
                                 '',
                                 autocomplete_user_name_users_path,
                                 :id_element => '#user_id',
                                 :placeholder => "user",
                                 "data-auto-focus" => true)
         %>
       <%= text_field_tag :user_id, '', :type => :hidden, :id => 'user_id' %>
      </td>
    </tr>
    <tr>
      <td>Start date:</td>
      <td>
      <%= configured_date_field_tag(:first_date) %>
      </td>
    </tr>
    <tr>
      <td>End date:</td>
      <td>
      <%= configured_date_field_tag(:last_date) %>
      </td>
    </tr>
    <tr>
      <td>Purge previous:</td>
      <td>
        <%= check_box_tag(:do_purge, 'yes', true) %>
      </td>
    </tr>
    <tr>
      <td>Do load:</td>
      <td>
        <%= check_box_tag(:do_load, 'yes', true) %>
      </td>
    </tr>
    <tr>
      <td>Load week letters:</td>
      <td>
        <%= check_box_tag(:do_load_weeks, 'yes', true) %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag 'Start' %></td>
    </tr>
  </tbody>
</table>
<% end %>

