<h1>Files</h1>
<p id="notice"><%= notice %></p>

<table class="zftable">
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td>
          <%= file %>
        </td>
        <td><%= link_to "Import",
                        imports_check_csv_path(:params => {:name => file }) %></td>
        <td><%= link_to "Delete",
                        imports_delete_path(:params => {:name => file }),
                        :method => :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Upload file</h2>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'incoming' %>
  <%= submit_tag 'Upload' %>
<% end %>


