<%= form_for(@tutorgroup) do |f| %>
  <% if @tutorgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorgroup.errors.count, "error") %> prohibited this tutorgroup from being saved:</h2>

      <ul>
      <% @tutorgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :house %><br>
    <%= f.text_field :house %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :era_id %><br>
    <%= f.number_field :era_id %>
  </div>
  <div class="field">
    <%= f.label :start_year %><br>
    <%= f.number_field :start_year %>
  </div>
  <div class="field">
    <%= f.label :current %><br>
    <%= f.check_box :current %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
