<h1>Listing tutorgroups</h1>
<p id="notice"><%= notice %></p>

<div class="digg_pagination">
  <%= will_paginate @tutorgroups %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>House</th>
      <th>Staff</th>
      <th>Size</th>
      <th>Era</th>
      <th>Start year</th>
      <th>Current</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorgroups.each do |tutorgroup| %>
      <tr>
        <td><%= tutorgroup.name %></td>
        <td><%= tutorgroup.house %></td>
        <td><%= tutorgroup.staff.initials %></td>
        <td><%= tutorgroup.members.size %></td>
        <td><%= tutorgroup.era_id %></td>
        <td><%= tutorgroup.start_year %></td>
        <td><%= tutorgroup.current %></td>
        <td><%= link_to 'Show', tutorgroup %></td>
        <td><%= link_to 'Edit', edit_tutorgroup_path(tutorgroup) %></td>
        <td><%= link_to 'Destroy', tutorgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @tutorgroups %>
</div>

<br>

<%= link_to 'New Tutorgroup', new_tutorgroup_path %>
