<h1>Listing event pre-requisites</h1>

<p>When a user creates a new event, these will be listed as services
which the user might want to consider adding to the event.  The
"priority" value controls the order in which they will be shown -
lowest value first.</p>

<%= link_to('New pre-requisite',
            new_pre_requisite_path,
            class: "zfbutton tiny radius") %>

<table class="zftable">
  <thead>
    <tr>
      <th>Label</th>
      <th>Descriptive text</th>
      <th>Element</th>
      <th>Priority</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_requisites.each do |pre_requisite| %>
      <tr>
        <td><%= pre_requisite.label %></td>
        <td><%= pre_requisite.description %></td>
        <td><%= pre_requisite.element ? pre_requisite.element.name : "None!" %></td>
        <td><%= pre_requisite.priority %></td>
        <td><%= link_to 'Edit', edit_pre_requisite_path(pre_requisite) %></td>
        <td><%= link_to 'Destroy', pre_requisite, method: :delete, data: { confirm: "Are you sure you want to completely delete the pre-requisite \"#{pre_requisite.label}\"?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New pre-requisite',
            new_pre_requisite_path,
            class: "zfbutton tiny radius") %>

