<h1>Listing pre_requisites</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Element</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_requisites.each do |pre_requisite| %>
      <tr>
        <td><%= pre_requisite.label %></td>
        <td><%= pre_requisite.description %></td>
        <td><%= pre_requisite.element_id %></td>
        <td><%= pre_requisite.priority %></td>
        <td><%= link_to 'Show', pre_requisite %></td>
        <td><%= link_to 'Edit', edit_pre_requisite_path(pre_requisite) %></td>
        <td><%= link_to 'Destroy', pre_requisite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre requisite', new_pre_requisite_path %>
