<div id='mainContainer'>
  <div class='row collapse calendarbit'>
    <div class='small-12 columns fillup'>
      <div id='personal-agenda'
        class='flag-refreshes'
        data-dorefresh='0'
        data-do-zoom-links='<%= @do_zoom_links %>'
        data-zoom-link-text='<%= @zoom_link_text %>'
        data-zoom-link-base-url='<%= @zoom_link_base_url %>'></div>
    </div>
  </div>
  <div class='bottomrighttext'>
    <% if admin_user? %>
      <span title="<%= Setting.rr_versions %>"><%= SOFTWARE_VERSION %></span>
    <% else %>
      <%= SOFTWARE_VERSION %>
    <% end %>
  </div>
  <div class='bottomtext'>
    <a href="https://xronos.uk/" target="_blank">Xronos Scheduler</a>
  </div>
</div>

