<tr>
  <td style="background-color:<%= ownership.colour %>;color:white" class="dynamic-element" element_id="<%= ownership.element_id %>" title="<%= ownership.element.id %>">
    <%= ownership.element.name %>
  </td>
  <td>
    <input class="clicky" type="checkbox" checked  element_id="<%= ownership.element_id %>" />
  </td>
  <td></td>
</tr>

