<tr>
  <td style="background-color:<%= concern.colour %>;color:white;font-size:90%;padding-top:0px;padding-bottom:0px;" class="dynamic-element rounded-corners" concern_id="<%= concern.id %>" data-cid="<%= concern.id %>" data-eid="<%= concern.element_id %>" title="<%= concern.element_id %>">
    <%= concern.element.name %>
  </td>
  <td style="padding-top:0px;padding-bottom:0px;">
    <input type="checkbox"
           class="active-checkbox"
           concern_id=<%= concern.id %>
           <%= concern.visible ? "checked" : "" %> />
  </td>
  <td style="padding-top:0px;padding-bottom:0px;">
    <% if concern.user_can_delete? %>
      <%= link_to '&#215;'.html_safe, concern, remote: true, method: :delete %>
    <% end %>
  </td>
</tr>

