<tr>
<td style="background-color:<%= concern.colour %>;"
    class="concern-cell dynamic-element rounded-corners concern-link<%=
      user_can_drag?(concern) ? " draggable-element" : ""
    %>"
    data-cid="<%= concern.id_or_fake %>"
    data-eid="<%= concern.element_id %>"
    <% if concern.id %>
    data-link-target="<%= edit_concern_path(concern) %>"
    title="<%= concern.element_id %>"
    <% end %>>
    <%= concern.element.name %>
  </td>

  <td class="concern-cell">
    <input type="checkbox"
           class="active-checkbox"
           data-cid="<%= concern.id_or_fake %>"
           <%= concern.visible ? "checked" : "" %> />
  </td>
  <% if @third_column %>
    <td class="concern-cell">
      <% if current_user.can_delete?(concern) %>
        <%= link_to '&#215;'.html_safe, concern, remote: true, method: :delete %>
      <% elsif concern.owns? && concern.element.aresourcegroup? %>
        <%= link_to 'V', schedule_group_path(concern.element.entity) %>
      <% end %>
    </td>
  <% end %>
</tr>

