<h2><%= @title %></h2>
<p>
<%= render "common" %>
</p>

<% if @reduced %>
<h3>Appearance</h3>
<%= render "appearance" %>

<% else %>
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#concern-appearance">Appearance</a></li>
  <% if @urls %>
    <li class="tab-title"><a href="#concern-feeds">Feeds</a></li>
  <% end %>
  <li class="tab-title"><a href="#concern-report">Report</a></li>
  <% if @proforma %>
    <li class="tab-title"><a href="#concern-proforma">Forms</a></li>
  <% end %>
  <% if @journal_entries %>
    <li class="tab-title"><a href="#concern-journal">Journal</a></li>
  <% end %>
</ul>

<hr/>
<div class="tabs-content">
  <div class="content active" id="concern-appearance">
    <h3>Appearance</h3>
    <%= render "appearance" %>
  </div>
<% if @urls %>
  <div class="content" id="concern-feeds">
    <%= render @urls %>
  </div>
<% end %>
  <div class="content" id="concern-report">
    <h3>Report</h3>
    <%= render "report" %>
  </div>
<% if @proforma %>
  <div class="content" id="concern-proforma">
    <%= render "proforma" %>
  </div>
<% end %>
<% if @journal_entries %>
  <div class="content" id="concern-journal">
    <h3>Journal entries</h3>
    <table class="zftable">
      <thead>
        <th>Action</th>
        <th>By</th>
        <th>At</th>
        <th>Details</th>
        <th>Event</th>
        <th>On</th>
      </thead>
      <tbody>
        <%= render partial: "journal_entries/element_journal_entry", collection: @journal_entries %>
      </tbody>
    </table>
    <%= link_to @journal_link_text, element_journal_entries_path(@element) %>
  </div>
<% end %>
<hr/>
<% end %>
