<h2><%= @concern.element.name %></h2>
<p>
  Unique ID: <%= @concern.element_id %><br/>
  Type: <%= @concern.element.description %>
  <%= link_to "Full details", element_path(@concern.element) %>
</p>
<hr/>
<h3>Appearance</h3>
<%= form_for(@concern) do |f| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
<% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
<% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <label>Colour</label>
    <div class="concern-block">
      <div class="concern-button" id="colour-sample" style="background-color:<%= @concern.colour %>">
        <span class="concern-spacer"></span>
        <div class="concern-text"><%= @concern.element.name %></div>
      </div>
      <span style="float: right">
        <% if @concern.element.preferred_colour.blank? %>
          <%= f.hidden_field :colour, :id => :colour_picker %>
        <% else %>
          <%= f.hidden_field :colour,
            :id => :colour_picker,
            "data-default-colour" => @concern.element.preferred_colour %>
        <% end %>
      </span>
    </div>
  </div>
  <%= flag_group(f, 12, 6, "Options", @options_flags) %>
  <div class="small-12 medium-6 large-4 columns">
    <%= f.submit "Save changes", :class => "button tiny radius" %>
  </div>
</div>
<% end %>

<hr/>

<h3>Report</h3>
<p>You can get a listing of all events involving this resource.</p>

<%= form_for(@item_report) do |f| %>
<%= f.hidden_field :concern_id %>
<div class="row">
  <div class="small-6 medium-2 columns">
    <label>Start date</label>
<%= f.text_field :starts_on, :class => "reportdate" %>
  </div>
  <div class="small-6 medium-2 columns">
    <label>End date</label>
<%= f.text_field :ends_on, :class => "reportdate" %>
  </div>
  <div class="small-12 medium-5 columns">
    <label>Event categories</label>
    <%= f.text_field :categories,
                     placeholder: "Comma-separated list of categories",
                     title: "Enter a comma-separated list of event categories to which to restrict the report.  Leave blank for all categories." %>
  </div>
  <div class="small-12 medium-3 columns">
    <label>Exclude</label>
    <%= f.autocomplete_field :excluded_element_name,
                             autocomplete_property_element_name_elements_path,
                             :id_element => '#itemreport_excluded_element_id',
                             :placeholder => "Exclude events from",
                             :title => "You can enter here the name of a property.  All events with that property will then be excluded from your report.",
                             "data-auto-focus" => true %>
    <%= f.text_field :excluded_element_id, :type => :hidden %>
  </div>
</div>
<div class="row collapse">
  <%= flag_group(f, 12, 6, "Duration", [
                 {field: :compact,
                  annotation: "If set, multi-day events will be mentioned only on their first day."},
                 {field: :duration,
                  annotation: "For use with the previous option - will cause the end-date of the event to be appended to the entry on the first day."},
                 {field: :mark_end,
                  annotation: "If set, causes the end day of a multi-day event to be annotated too."},
                 {field: :periods,
                  annotation: "For events which align with the school's standard periods, list them by period number instead of by time."},
                 {field: :twelve_hour,
                  annotation: "Use the 12 hour clock instead of the default 24 hour clock in repoers."},
                 {field: :end_time,
                  annotation: "For events with a duration, show the end time as well as the start time."}
                  ]) %>
  <%= flag_group(f, 12, 6, "Resources", [
                 {field: :locations,
                  annotation: "Include the (short) names of locations for each event."},
                 {field: :staff,
                  annotation: "List staff involved in each event."},
                 {field: :pupils,
                  annotation: "List pupils involved in each event."}]) %>
  <%= flag_group(f, 12, 6, "Formatting", [
                 {field: :breaks,
                  annotation: "Put each event on a separate line of its own."},
                 {field: :suppress_empties,
                  annotation: "Don't produce output for days with no events."}]) %>
  <%= flag_group(f, 12, 6, "Filters", [
                 {field: :tentative,
                  annotation: "Show events for which this resource has been requested, but where the request is still awaiting approval."},
                 {field: :firm,
                  prompt: "And firm",
                  annotation: "For use with the previous flag. Still show firm events, even though the tentative ones have been requested.  In other words, show both."}
                 ]) %>
</div>

<%= f.submit "Generate" %>
<% end %>

<hr/>
