<tr>
  <td><%= era.name %></td>
  <td><%= era.short_name %></td>
  <td><%= era.starts_on %></td>
  <td><%= era.ends_on %></td>
  <td><%= era.source_id %></td>
  <td><%= link_to 'Edit', edit_era_path(era) %></td>
  <td>
    <% if era.can_destroy? %>
      <%= link_to 'Destroy', era, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>
