<%= form_for(@era) do |f| %>
  <% if @era.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@era.errors.count, "error") %> prohibited this era from being saved:</h2>

      <ul>
      <% @era.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name,
                  class: "right inline",
                  title: "Name for the Era",
                  data: {tooltip: true} %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :starts_on, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :starts_on, :class => :datepicker %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :ends_on, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :ends_on, :class => :datepicker %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :source_id, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.number_field :source_id %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns"><%= f.submit %></div>
  </div>
<% end %>
