<%= form_for(@era) do |f| %>
  <% if @era.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@era.errors.count, "error") %> prohibited this era from being saved:</h2>

      <ul>
      <% @era.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :short_name, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :short_name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :starts_on, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field(:starts_on,
                       value: @era.starts_on.to_formatted_s(:dmy),
                       autocomplete: 'off',
                       class: :datepicker) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :ends_on, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field(:ends_on,
                       value: @era.ends_on.to_formatted_s(:dmy),
                       autocomplete: 'off',
                       class: :datepicker) %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :source_id, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.number_field :source_id %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit "Update", :class => "zfbutton tiny radius" %>
    </div>
  </div>
<% end %>
