<h1>Finding free resources</h1>

<%= form_for(@freefinder) do |f| %>
  <% if @freefinder.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @freefinder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "From", class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= f.autocomplete_field :element_name,
                               autocomplete_group_element_name_elements_path,
                               :id_element => '#freefinder_element_id',
                               :placeholder => "group name",
                               "data-auto-focus" => true %>
      <%= f.text_field :element_id, :type => :hidden %>
    </div>
    <div class="small-5 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Find free resources on", class: "right inline" %>
    </div>
    <div class="small-2 columns">
      <%= f.text_field :on, autocomplete: :off, id: :freedatepicker, class: :datepicker %>
    </div>
    <div class="small-1 columns">
      <%= f.label "between", class: "right inline" %>
    </div>
    <div class="small-1 columns">
      <%= f.text_field :start_time_text,
                       :placeholder => "HH:MM",
                       :length => 5 %>
    </div>
    <div class="small-1 columns">
      <%= f.label "and", class: "right inline" %>
    </div>
    <div class="small-1 columns">
      <%= f.text_field :end_time_text,
                       :placeholder => "HH:MM",
                       :length => 5 %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label "Period", class: "right inline" %>
    </div>
    <div class="small-8 columns" id='ff-buttons-2'>
      <ul class="zfbutton-group round">
        <li class="zfbutton tiny">None on this day</li>
      </ul>
    </div>
    <div class="small-1 columns">
      &nbsp;
    </div>
  </div>
  <div class="row collapse">
    <div class="small-2 small-offset-3 columns">
      <%= f.submit "Find free", :class => "zfbutton tiny radius" %>
    </div>
<% if @freefinder.done_search %>
    <div class="small-2 columns">
      <%= f.submit "Export",
                   :name => :export,
                   :class => "zfbutton tiny radius" %>
    </div>
    <div class="small-2 columns">
<% if current_user.can_has_groups %>
      <%= f.submit "Create group",
                   :name => :create,
                   :class => "zfbutton tiny radius" %>
<% end %>
    </div>
    <div class="small-3 columns">
    </div>
<% else %>
    <div class="small-7 columns">
    </div>
<% end %>
  </div>

<% end %>

<div class="row collapse">
  <div class="small-3 columns">
    &nbsp;
  </div>
  <div class="small-6 columns">
<% if @freefinder.free_elements && @freefinder.free_elements.size > 0 %>
<table class="zftable">
  <tr>
    <th colspan="3">Found <%= @freefinder.free_elements.size %> free out of <%= @freefinder.original_membership_size %>.</th>
  </tr>
<%= render @freefinder.free_elements.sort %>
</table>
<% elsif @freefinder.done_search %>
None found.
<% end %>
  </div>
  <div class="small-3 columns">
    &nbsp;
  </div>
</div>

<% if @periods %>
  <script type='application/json' id='period-definitions'>
<%= @periods.to_json.html_safe %>
  </script>
<% end %>
