<h1>Listing subjects</h1>
<p id="notice"><%= notice %></p>

<%= will_paginate @subjects %>
<table class="zftable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Staff</th>
      <th>Sets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.staffs.count %></td>
        <td><%= subject.teachinggrouppersonae.count %></td>
        <td><%= link_to 'Details', element_path(subject.element) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @subjects %>

<br>

<%= link_to 'New Subject', new_subject_path, :class => "button tiny radius" %>
