<tr class='approval-item' data-commitment-id=<%= commitment.id %> data-commitment-status="<%= commitment.status %>" data-commitment-reason="<%= commitment.reason %>">
  <td>
    <%=
      link_to(commitment.event.starts_at_text,
              schedule_show_path(date: commitment.event.jump_date_text,
                                 element_id: commitment.element_id))
    %>
  </td>
  <td><%= commitment.event.duration_text %></td>
  <td title="<%= commitment.event.body %>">
    <%= commitment.event.trimmed_body(40) %>
  </td>
  <td title="Owner"><%= commitment.event.owners_initials %></td>
  <td title="Organiser"><%= commitment.event.organisers_initials %></td>
  <td class="approval-status"></td>
  <% if @allow_buttons %>
    <td class="approval-buttons">
      <% if commitment.uncontrolled? %>
        <%= blank_icon(false) %>
        <%= blank_icon(false) %>
        <%= blank_icon(false) %>
      <% else %>
        <%= approve_icon(false) %>
        <%= note_icon(false) %>
        <%= reject_icon(false) %>
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
  <td class="form-status"><%= commitment_form_status(commitment) %></td>
</tr>
