<div class="flip-button">
  <%= link_to @flip_text, @flip_target, class: "zfbutton tiny radius" %>
</div>
<h1>Events requesting <%= @element.short_name %></h1>

<div class="digg_pagination">
  <%= will_paginate @commitments %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Start</th>
      <th>Duration</th>
      <th>Body</th>
      <th title="Owner">Own</th>
      <th title="Organiser">Org</th>
      <th>Approval</th>
      <th></th>
      <th>Form</th>
    </tr>
  </thead>

  <tbody class='approvals-region'>
    <%= render @commitments %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @commitments %>
</div>

<br>

<script type="text/template" id="uncontrolled-template">
</script>

<script type="text/template" id="confirmed-template">
<%= approve_icon(false) %> <%= noted_icon(false) %> <%= reject_icon(true) %>
</script>

<script type="text/template" id="requested-template">
<%= approve_icon(true) %> <%= noted_icon(true) %> <%= reject_icon(true) %>
</script>

<script type="text/template" id="rejected-template">
<%= approve_icon(true) %> <%= noted_icon(true) %> <%= reject_icon(false) %>
</script>

<script type="text/template" id="noted-template">
<%= approve_icon(true) %> <%= noted_icon(false) %> <%= reject_icon(true) %> 
</script>

