<%= form_for(@proto_event) do |f| %>
  <% if @proto_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proto_event.errors.count, "error") %> prohibited this proto_event from being saved:</h2>

      <ul>
      <% @proto_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :starts_on %><br>
    <%= f.date_select :starts_on %>
  </div>
  <div class="field">
    <%= f.label :ends_on %><br>
    <%= f.date_select :ends_on %>
  </div>
  <div class="field">
    <%= f.label :event_category_id %><br>
    <%= f.number_field :event_category_id %>
  </div>
  <div class="field">
    <%= f.label :event_source_id %><br>
    <%= f.number_field :event_source_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
