<h2>Repeating event</h2>
<div id="event-wrapping-upper">
  <div id="for_errors">
    <% if @event_collection.errors.any? %>
      <%= render partial: "error_msgs", object: @event_collection.errors %>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <p>Event:
      "<%= @event.body %>",
      starting
      <%= @event.starts_at_text %>,
      for
      <%= @event.duration_text %></p>
    </div>
    <hr/>
<%= form_for([@event, @event_collection], remote: @minimal) do |f| %>
    <%= f.hidden_field :era_id %>
    <div class="small-3 columns">
      <label>Repetition start date</label>
      <%= f.configured_date_field :repetition_start_date %>
    </div>
    <div class="small-3 columns">
      <label>Repetition end date</label>
      <%= f.configured_date_field :repetition_end_date %>
    </div>
    <div class="small-4 small-offset-1 columns">
      <label>Occurences in month</label>
      <%=
        f.collection_select(:when_in_month,
                            when_in_month_options,
                            :key,
                            :text)
                          %>
    </div>
    <div class="small-1 columns">
    </div>
    <div class="small-7 columns">
      <label>Days of the week</label>
      <%= f.collection_check_boxes(:days_of_week,
                                   @event_collection.daynames_with_index,
                                   :index,
                                   :name) %>
    </div>
    <div class="small-5 columns">
      <label>Which weeks</label>
      <%= f.collection_check_boxes(:weeks,
                                   @event_collection.weeks_with_keys,
                                   :key,
                                   :label) %>
    </div>
    <div class='small-4 columns'>
      <%= f.check_box(:preserve_earlier) %>
      <label>
        <%=
          f.label(:preserve_earlier,
                  "Preserve earlier instances",
                  title: "If any instances of the event already exist prior to the specified start date then leave them untouched.")
                %>
      </label>
    </div>
    <div class='small-4 columns'>
      <%= f.check_box(:preserve_later) %>
      <label>
        <%=
          f.label(:preserve_later,
                  "Preserve later instances",
                  title: "If any instances of the event already exist after the specified end date then leave them untouched.")
                %>
      </label>
    </div>
    <div class='small-4 columns'>
      <%= f.check_box(:preserve_historical) %>
      <label>
        <%=
          f.label(:preserve_historical,
                  "Preserve historical record",
                  title: "If any instances of the event already exist prior to today's date then leave them untouched.  Do not create any events in the past.")
                %>
      </label>
    </div>
    <hr/>
    <div class="small-12 columns event-collection-buttons">
      <div class="pw-the-buttons">
        <% if @event_collection.persisted? %>
        <%=
          link_to "Delete",
            [@event, @event_collection],
            method: :delete,
            remote: true,
            class: "zfbutton tiny radius right pw-action button-link unfriendly",
            title: "Delete all the repeating events in this series.",
            data: { confirm: "Are you sure you want to delete this whole set of repeating events?" }
          %>
        <% end %>
        <%= f.submit @action_button_text, class: "zfbutton tiny radius pw-action" %>
        <%= link_to "Cancel", canceledit_event_path(@event), :remote => true, :class => 'zfbutton tiny radius button-link' %>
        <% if current_user.owns_elements? %>
          <%= f.submit "Check", class: "zfbutton tiny radius pw-action right", title: "Check for clashes" %>
        <% end %>
      </div>
      <div class="pw-the-message pw-hidden">
        <p>Please wait...</p>
      </div>
    </div>
<% end %>
    <% if @clashes %>
      <div class="small-12 columns">
        <% if @clashes.empty? %>
          <h5>No apparent clashes</h5>
        <% else %>
          <div id="clash_listing">
            <h5>Clashes detected</h5>
            <ul>
              <%= render @clashes %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
