<%= form_for(@eventcategory) do |f| %>
  <% if @eventcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventcategory.errors.count, "error") %> prohibited this eventcategory from being saved:</h2>

      <ul>
      <% @eventcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :precedence, class: "right inline" %><br>
    </div>
    <div class="small-2 columns">
      <%= f.number_field :pecking_order %>
    </div>
    <div class="small-1 columns"> </div>
    <div class="small-6 columns annotation">
      <%= Eventcategory.title_of(:pecking_order) %>
    </div>
  </div>
  <%= render partial: "privbit", locals: {f: f, key: :schoolwide} %>
  <%= render partial: "privbit", locals: {f: f, key: :publish} %>
  <%= render partial: "privbit", locals: {f: f, key: :visible} %>
  <%= render partial: "privbit", locals: {f: f, key: :unimportant} %>
  <%= render partial: "privbit", locals: {f: f, key: :can_merge} %>
  <%= render partial: "privbit", locals: {f: f, key: :can_borrow} %>
  <%= render partial: "privbit", locals: {f: f, key: :compactable} %>
  <%= render partial: "privbit", locals: {f: f, key: :privileged} %>
  <%= render partial: "privbit", locals: {f: f, key: :clashcheck} %>
  <%= render partial: "privbit", locals: {f: f, key: :busy} %>
  <%= render partial: "privbit", locals: {f: f, key: :timetable} %>
  <%= render partial: "privbit", locals: {f: f, key: :deprecated} %>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit @eventcategory.id ? "Update" : "Create", class: "zfbutton tiny radius" %>
    </div>
  </div>
<% end %>
