<h1>Listing eventcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Precedence</th>
      <th>Events</th>
      <th>Schoolwide</th>
      <th>Publish</th>
      <th>Visible</th>
      <th>Unimportant</th>
      <th>Can merge</th>
      <th>Deprecated</th>
      <th>Privileged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventcategories.each do |eventcategory| %>
      <tr>
        <td><%= eventcategory.name %></td>
        <td><%= eventcategory.pecking_order %></td>
        <td><%= eventcategory.events.count %></td>
        <td><%= eventcategory.schoolwide %></td>
        <td><%= eventcategory.publish %></td>
        <td><%= eventcategory.visible %></td>
        <td><%= eventcategory.unimportant %></td>
        <td><%= eventcategory.can_merge %></td>
        <td><%= eventcategory.deprecated %></td>
        <td><%= eventcategory.privileged %></td>
        <td><%= link_to 'Show', eventcategory %></td>
        <td><%= link_to 'Edit', edit_eventcategory_path(eventcategory) %></td>
        <td><%= link_to 'Destroy', eventcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventcategory', new_eventcategory_path, class: "button radius" %>
