<h1>Listing eventcategories</h1>

<div class="apple_pagination">
  <%= will_paginate @eventcategories %>
</div>
<table>
  <thead>
    <tr>
      <th><div><span>Name</span></div></th>
      <th><div><span>Precedence</span></div></th>
      <th><div><span>Events</span></div></th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:schoolwide) %>">
          <span>Schoolwide</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:publish) %>">
          <span>Publish</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:visible) %>">
          <span>Visible</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:unimportant) %>">
          <span>Unimportant</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:can_merge) %>">
          <span>Can merge</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:can_borrow) %>">
          <span>Can borrow</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:compactable) %>">
          <span>Compactable</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:privileged) %>">
          <span>Privileged</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:clashcheck) %>">
          <span>Clash check</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:busy) %>">
          <span>Busy</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:timetable) %>">
          <span>Timetable</span>
        </div>
      </th>
      <th class="rotated">
        <div title="<%= Eventcategory.title_of(:confidential) %>">
          <span>Confidential</span>
        </div>
      </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventcategories.each do |eventcategory| %>
      <tr>
        <td><%= eventcategory.name %></td>
        <td><%= eventcategory.pecking_order %></td>
        <td><%= eventcategory.events.count %></td>
        <td><%= boolean_icon(eventcategory.schoolwide?) %></td>
        <td><%= boolean_icon(eventcategory.publish?) %></td>
        <td><%= boolean_icon(eventcategory.visible?) %></td>
        <td><%= boolean_icon(eventcategory.unimportant?) %></td>
        <td><%= boolean_icon(eventcategory.can_merge?) %></td>
        <td><%= boolean_icon(eventcategory.can_borrow?) %></td>
        <td><%= boolean_icon(eventcategory.compactable?) %></td>
        <td><%= boolean_icon(eventcategory.privileged?) %></td>
        <td><%= boolean_icon(eventcategory.clashcheck?) %></td>
        <td><%= boolean_icon(eventcategory.busy?) %></td>
        <td><%= boolean_icon(eventcategory.timetable?) %></td>
        <td><%= boolean_icon(eventcategory.confidential?) %></td>
        <td><%= link_to 'Edit', edit_eventcategory_path(eventcategory) %></td>
        <td>
          <% if eventcategory.can_destroy? %>
            <%= link_to 'Destroy', eventcategory, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
<div class="apple_pagination">
  <%= will_paginate @eventcategories %>
</div>

<br>

<%= link_to 'New Eventcategory', new_eventcategory_path, class: "zfbutton tiny radius" %>
