<div style='display:none'>
  <%= form_for([@user_form, @user_form_response]) do |f| %>
    <%= f.text_field :definition, disabled: true %>
    <%= f.text_field :form_data %>
  <% end %>
</div>
<form id='user-form'>
  <div class='user-form-response-area'
       data-readonly=<%= @read_only ? "true" : "false" %>></div>
  <input type='submit' style='display:none'/>
</form>

<% if @save_button %>
  <button class='zfbutton tiny radius' id='save-button'>Save</button>
<% end %>
<% if @cancel_button %>
  <%= link_to @cancel_text, @cancel_url, class: 'zfbutton tiny radius' %>
<% end %>

