<% if @event %>
  <% if @cancel_button && @close_after %>
    <%= link_to @cancel_text, @cancel_url, class: 'zfbutton tiny radius flip-button button-link', onclick: "window.close();" %>
  <% end %>
  <h3>Request form for <%= @resource.name %></h3>
  <% if @status %>
    Status: <%= @status %><br/>
  <% end %>
  Event: <%= @event.body %><br/>
  Starts: <%= @event.starts_at_text %><br/>
  Duration: <%= @event.duration_text %><br/>
  Owner: <%= @event.owner ? @event.owner.name : "System" %>
  <% if @event.organiser %>
    <br/>Organiser: <%= @event.organiser.name %>
  <% end %>
  <% unless (staff = @event.staff).empty? %>
    <br/>Staff: <%= staff.collect {|s| s.name }.join(", ") %>
  <% end %>
  <% unless (locations = @event.locations).empty? %>
    <br/>Locations: <%= locations.collect {|l| l.short_name }.join(", ") %>
  <% end %>
  <% unless (services = @event.services).empty? %>
    <br/>Services: <%= services.collect {|s| s.name }.join(", ") %>
  <% end %>
  <% unless (properties = @event.properties).empty? %>
    <br/>Properties: <%= properties.collect {|p| p.name }.join(", ") %>
  <% end %>


<% if @extra_text %>
  <br/>
  <%= preserve_line_breaks(@extra_text) %>
<% end %>
  <hr/>
<% end %>
<div style='display:none'>
  <%= form_for([@user_form, @user_form_response]) do |f| %>
    <%= f.text_field :definition, disabled: true %>
    <%= f.text_field :form_data %>
    <%= f.text_field :status %>
  <% end %>
</div>
<form id='user-form'>
  <div class='user-form-response-area frmb'
       data-readonly=<%= @read_only ? "true" : "false" %>></div>
  <input type='submit' style='display:none'/>
</form>
<% if @form_status %>
  <p>Current form status: <%= @form_status %></p>
<% end %>
<% if @show_comments %>
  <%= render 'comments' %>
<% end %>
<% if @save_button %>
  <button class='zfbutton tiny radius' id='save-button'>Save as complete</button>
  <button class='zfbutton tiny radius' id='save-draft-button'>Save as draft</button>
<% end %>
<% if @cancel_button %>
  <% if @close_after %>
    <%= link_to @cancel_text, @cancel_url, class: 'zfbutton tiny radius button-link', onclick: "window.close();" %>
  <% else %>
    <%= link_to @cancel_text, @cancel_url, class: 'zfbutton tiny radius button-link' %>
  <% end %>
<% end %>

