<h1>Listing responses to <%= @user_form.name %></h1>
<p id="notice"><%= notice %></p>

<table class="zftable">
  <thead>
    <tr>
      <th>Last modified</th>
      <th>Event</th>
      <th>On</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_form_responses.each do |user_form_response| %>
      <tr>
        <td><%= user_form_response.updated_at_text %></td>
        <td><%= user_form_response.event_text %></td>
        <td><%= user_form_response.event_time_text %></td>
        <td><%= user_form_response.user_text %></td>
        <td><%= link_to 'Show', user_form_response %></td>
        <td><%= link_to 'Edit', edit_user_form_response_path(user_form_response) %></td>
        <td><%= link_to 'Destroy', user_form_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to forms", user_forms_path, class: "zfbutton tiny radius" %>
