<p id="notice"><%= notice %></p>

<p>
  <strong>User form:</strong>
  <%= @user_form_response.user_form_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @user_form_response.parent_id %>
</p>

<p>
  <strong>Parent type:</strong>
  <%= @user_form_response.parent_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_form_response.user_id %>
</p>

<p>
  <strong>Form data:</strong>
  <%= @user_form_response.form_data %>
</p>

<%= link_to 'Edit', edit_user_form_response_path(@user_form_response) %> |
<%= link_to 'Back', user_form_user_form_responses_path(@user_form_response.user_form) %>
