<%
  #
  #  Need to do a bit of work to break down the e-mail.
  #  I would prefer to do this in the controller, but if I generate
  #  an array of EAMs there, then it breaks the pagination code.
  #
  eam = EnhancedAhoyMessage.new(message)
%>
<tr>
  <td><%= message.sent_at.to_s(:hmdmy) %></td>
  <td><%= user_column(eam) %></td>
  <td><%= to_column(eam) %></td>
  <td><%= subject_column(eam) %></td>
  <td><%= eam.parts.count %></td>
<%= parts_columns(eam) %>
</tr>
