<h1>Listing emails sent<%=
if @user
  " to #{@user.name}"
else
  ""
end
%></h1>
<div class="apple_pagination">
  <%= will_paginate @eams %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Sent at</th>
      <th>User</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Parts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @eams %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @eams %>
</div>
<% if @provide_button %>
  <div class="flip-button">
    <%= link_to 'Back to all', emails_path, class: "zfbutton tiny radius button-link" %>
  </div>
<% end %>

