<h1>Listing forms</h1>
<p id="notice"><%= notice %></p>

<div class="row collapse">
  <div class="small-12 columns">
    <div class="digg_pagination">
      <%= will_paginate @user_forms %>
    </div>

    <table class="zftable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created by</th>
          <th>Last edited by</th>
          <th>Responses</th>
          <th>Resource</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @user_forms.each do |user_form| %>
          <tr>
            <td><%= user_form.name %></td>
            <td><%= user_form.created_by_user ? user_form.created_by_user.name : "" %></td>
            <td><%= user_form.edited_by_user ? user_form.edited_by_user.name : "" %></td>
            <td><%= link_to user_form.user_form_responses.count.to_s, user_form_user_form_responses_path(user_form) %></td>
            <td><%= user_form.resource_name %></td>
            <td><%= link_to 'Show', user_form %></td>
            <td><%= link_to 'Test', new_user_form_user_form_response_path(user_form) %></td>
            <td><%= link_to 'Edit', edit_user_form_path(user_form) %></td>
            <td><%=
            user_form.can_destroy? ?
              link_to('Destroy',
                      user_form,
                      method: :delete,
                      data: { confirm: 'Are you sure?' }) :
                      "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="digg_pagination">
      <%= will_paginate @user_forms %>
    </div>
  </div>
</div>
<br>

<%= link_to 'New form', new_user_form_path, class: "zfbutton tiny radius" %>
