<tr>
  <td><%= ad_hoc_domain_staff.staff_name %></td>
  <td><%= ad_hoc_domain_staff.subjects.collect {|s| s.name}.join(", ") %></td>
  <td class='numeric'><%= ad_hoc_domain_staff.slack %></td>
  <td class='numeric'><%=
    as_percentage(
      @ad_hoc_domain_allocation.percentage_complete(
        ad_hoc_domain_staff)
    ) %></td>
  <td class='numeric'><%=
    @ad_hoc_domain_allocation.to_do(ad_hoc_domain_staff)
    %></td>
  <td><%=
    link_to(
      "Manual",
      allocate_ad_hoc_domain_staff_ad_hoc_domain_allocation_path(
        ad_hoc_domain_staff,
        @ad_hoc_domain_allocation),
        class: "zfbutton radius tiny teensy button-link"
    )

    %></td>
  <td><%=
    link_to(
      "Automatic",
      autoallocate_ad_hoc_domain_staff_ad_hoc_domain_allocation_path(
        ad_hoc_domain_staff,
        @ad_hoc_domain_allocation),
      method: :patch,
      class: "zfbutton radius tiny teensy button-link"
    )

    %></td>
  <td class='numeric'><%=
    @ad_hoc_domain_allocation.score_for(ad_hoc_domain_staff)
    %></td>

</tr>
