<div id='ahd-staff-<%= staff_outer.id_suffix %>'>
  <% if staff_outer.new_record? %>
    <div>New record!!</div>
  <% else %>
    <%= ahd_row(
      contents: {
        staff_delete: ahd_deletion_link(staff_outer),
        staff: staff_outer.staff_name,
        num_subjects: "#{staff_outer.num_real_subjects} subjects",
        num_pupils: "#{staff_outer.num_real_pupils} pupils",
        flipper: ahd_toggle( @folded ? "Show" : "Hide")
      },
      row_classes: %w(overrule minor)) %>
    <div id='ahd-staff-subject-<%= staff_outer.id_suffix %>' class='foldable<%= @folded ? " folded" : "" %>'>
    <%=
      render object: staff_outer,
        partial: 'ad_hoc_domain_staffs/staff_inner'
      %>
    </div>
  <% end %>
</div>

