<div id='view-dialogue'>
<h2>Views</h2>
<a class="close-reveal-modal">&#215;</a>
<div class='row collapse'>
  <div class='small-6 columns'>
    <p>Choose an existing one</p>
    <%= render @concern_sets %>
  </div>
  <div class='small-6 columns'>
    <p>or create a new one</p>
    <%= form_for [@user, @concern_set], remote: true do |f| %>
      <% if @concern_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@concern_set.errors.count, "error") %> prohibited this view from being saved:</h2>

          <ul>
          <% @concern_set.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row collapse">
        <div class="small-2 columns">
          <%= f.label :name, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_field :name %>
        </div>
        <div class="small-10 columns">
          Do you want to copy all the existing visible items to your new view?
        </div>
        <div class="small-2 columns">
          <%= f.check_box :copy_concerns %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 small-offset-8 columns">
          <%= f.submit "Create", class: 'zfbutton tiny radius' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
</div>
