<%= form_with(model: [@ad_hoc_domain, @ad_hoc_domain_cycle], local: true) do |form| %>
  <% if @ad_hoc_domain_cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_hoc_domain_cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @ad_hoc_domain_cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= form.label :name, class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= form.text_field :name %>
    </div>
    <div class="small-4 offset-1 columns annotation">
      A name of your choosing to refer to this cycle of Ad Hoc lessons.
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= form.label :starts_on, class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= form.configured_date_field :starts_on %>
    </div>
    <div class="small-4 offset-1 columns annotation">
      The start date for this cycle.
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= form.label :ends_on, class: "right inline" %>
    </div>
    <div class="small-4 columns">
      <%= form.configured_date_field :ends_on %>
    </div>
    <div class="small-4 offset-1 columns annotation">
      The (inclusive) end date for this cycle.
    </div>
  </div>

  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <div class="actions">
        <%=
          form.submit @ad_hoc_domain_cycle.new_record? ? "Create" : "Update", class: "zfbutton tiny radius"
        %>
        <%=
          link_to("Cancel", ad_hoc_domain_path(@ad_hoc_domain_cycle.ad_hoc_domain), class: "zfbutton tiny radius button-link")
        %>
      </div>
    </div>
  </div>
<% end %>

