<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :name, class: 'right inline' %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :name %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class='small-3 columns'>
      <%= f.label :num_invigilators, text: "No. of invigilators", class: 'right inline' %>
    </div>
    <div class='small-2 columns'>
      <%= f.number_field :num_invigilators %>
    </div>
    <div class='small-1 columns'>
    </div>
    <div class='small-2 columns'>
      <%=
        f.label :weighting,
          text: "Weighting",
          class: 'right inline',
          title: 'For calendar feeds, the requester can specify a spread ' \
                 'and then only locations with a weighting within the ' \
                 'specified spread of the maximum weighted location ' \
                 'for an event will be included for that event.'
        %>
    </div>
    <div class='small-2 columns'>
      <%= f.number_field :weighting %>
    </div>
    <div class='small-2 columns'>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%=
        f.label :subsidiary_to,
          class: 'right inline',
          title: 'In calendar feeds, if this location is subsidiary to ' \
                 'another one then the presence of the other on an event ' \
                 'will suppress mention of this one.  This property ' \
                 'is transitive.'
      %>
    </div>
    <div class="small-6 columns">
      <%=
        f.autocomplete_field(
          :subsidiary_to_name,
          autocomplete_location_name_locations_path,
          id_element: '#location_subsidiary_to_id',
          'data-auto-focus' => true)
        %>
      <%= f.hidden_field :subsidiary_to_id %>
    </div>
    <div class="small-3 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :active, class: 'right inline' %>
    </div>
    <div class="small-1 columns">
      <%= f.check_box :active, disabled: @location.active %>
    </div>
    <div class="small-3 columns">
      <%= f.label :current, class: 'right inline' %>
    </div>
    <div class="small-1 columns">
      <%= f.check_box :current %>
    </div>
    <div class="small-4 columns">
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <div class="actions">
        <%= f.submit @location.id ? "Update" : "Create", class: "zfbutton tiny radius" %>
        <%= link_to "Cancel", locations_path, class: "zfbutton tiny radius button-link" %>
      </div>
    </div>
  </div>
<% end %>
