<tr>
  <td><%= location.name %></td>
  <td><%= display_name_with_edit_links(location) %></td>
  <td><%= other_aliases_edit_links(location) %></td>
  <td><%= location.current ? "Yes" : "No" %></td>
  <td><%= location.element ? link_to('Details', location.element) : "" %></td>
  <td><%= link_to('Edit', edit_location_path(location)) %></td>
  <td><%= link_to('Add alias', new_location_locationalias_path(location)) %></td>
  <td><%= location.can_destroy? ? link_to('Delete', location, method: :delete, data: { confirm: "Are you sure you want to completely delete the location \"#{location.name}\"? Note that deleting a location will not delete any attached location aliases." }) : "" %></td>
</tr>
