<h1>Listing locations</h1>
<p id="notice"><%= notice %></p>

<div class="apple_pagination">
  <%= will_paginate @locations %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Location</th>
      <th>Display name</th>
      <th>Other aliases</th>
      <th>Current</th>
      <th>Weighting</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @locations %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @locations %>
</div>

<br>

<%=
  link_to('New Location',
          new_location_path,
          class: 'zfbutton tiny radius button-link')
%>
<%=
  link_to('New Location Alias',
          new_locationalias_path,
          class: 'zfbutton tiny radius button-link')
%>
