<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @location.short_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @location.source_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @location.active %>
</p>

<p>
  <strong>Current:</strong>
  <%= @location.current %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
