<p id="notice"><%= notice %></p>

<table class="zftable">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @location.name %></td>
  </tr>

  <% if @location.locationaliases.size > 0 %>
  <tr>
    <td><strong>Aliases:</strong></td>
    <td>
      <% @location.locationaliases.each do |locationalias| %>
        <%= locationalias.name %><br/>
      <% end %>
    </td>
  </tr>

  <% end %>

  <tr>
    <td><strong>Active:</strong></td>
    <td><%= @location.active %></td>
  </tr>

  <tr>
    <td><strong>Current:</strong></td>
    <td><%= @location.current %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
