<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title_text %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <% if @embed_css %>
      <style>
        <%= @embed_css %>
      </style>
    <% end %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to title_text, root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
<% if @show_jump %>
      <ul class="left">
        <%= render :partial => "/schedule/datepicker" %>
      </ul>
<% end %>
      <ul class="right">
<% if @show_search %>
        <%= render :partial => "/events/search" %>
<% end %>
        <li class="divider"></li>

<% if current_user %>
  <%
    #
    #  There is one very exceptional circumstance when a user can see
    #  the menu even though he wouldn't normally be able to - when
    #  the session is actually su'ed to being that user.  The menu
    #  is needed to allow the su to be reverted.
    #
      if current_user.sees_menu? || user_can_revert? %>
    <%= menu_for(current_user) %>
    <li class='divider'>
  <%  end %>
        <li>
<%   if current_user.known? %>
          <a href="/users/<%= current_user.id %>/edit" data-reveal-id="eventModal" data-reveal-ajax="true"><%= current_user.name %></a>
<%   else %>
          <%= link_to current_user.name %>
<%   end %>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", signout_path %></li>
<% else %>
  <% if Setting.demo_system? && User.demo_user.count > 0 %>
    <li class="has-dropdown">
      <a href="#">Sign in</a>
      <ul class="dropdown">
        <% User.demo_user.each do |du| %>
          <li><%= link_to du.initials,
                          sessions_demo_login_path(user_id: du.id) %></li>
        <% end %>
        <li><%= link_to "Other", signin_path %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
  <% end %>
<% end %>
      </ul>
    </section>
  </nav>
