<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title_text %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to title_text, root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
<% if @show_jump %>
      <ul class="left">
        <%= render :partial => "/schedule/datepicker" %>
      </ul>
<% end %>
      <ul class="right">
<% if @show_search %>
        <%= render :partial => "/events/search" %>
<% end %>
        <li class="divider"></li>

<% if current_user %>
<%   if current_user.sees_menu? %>
  <li class="has-dropdown">
    <a href="#"><%= header_menu_text(current_user) %></a>
    <ul class="dropdown">
<%     if current_user.admin %>
      <li class="has-dropdown">
        <%= link_to "Groups", groups_path %>
        <ul class="dropdown">
          <li><%= link_to "All", groups_path %></li>
          <li><%= link_to "Mine", groups_path(:mine => true) %></li>
          <li><%= link_to "Tutor", tutorgroups_path %></li>
        </ul>
      </li>
<%     elsif current_user.can_has_groups %>
      <li><%= link_to "Groups", groups_path %></li>
<%     end %>
<%     if current_user.create_events? %>
<%       if current_user.admin || current_user.owned_elements.size > 0 %>
      <li class="has-dropdown">
        <%= link_to(events_menu_text(current_user),
                    user_events_path(current_user)) %>
        <ul class="dropdown">
          <li><%= link_to(my_events_menu_text(current_user),
                          user_events_path(current_user)) %></li>
<%         if current_user.admin %>
          <li><%= link_to "All", events_path %></li>
<%         end %>
<%         current_user.owned_elements.each do |ce| %>
          <li class="has-dropdown">
            <%= link_to(controlled_element_menu_text(ce),
                        element_commitments_path(ce)) %>
            <ul class="dropdown">
              <li><%= link_to "Pending",
                element_commitments_path(ce,
                                         pending: true) %></li>
            </ul>
          </li>
<%         end %>
        </ul>
      </li>
<%       else %>
      <li><%= link_to "Events", user_events_path(current_user) %></li>
<%       end %>
<%     end %>
<%     if current_user.can_find_free %>
      <li><%= link_to "Find free", new_freefinder_path %></li>
<%     end %>
<%     if current_user.can_has_forms %>
            <li class="has-dropdown">
              <%= link_to(form_menu_text(current_user),
                          user_form_responses_path,
                          id: 'ufr-link') %>
              <ul class="dropdown">
                <li><%= link_to "Maintain", user_forms_path %></li>
              </ul>
            </li>
<%     elsif current_user.create_events? %>
          <li><%= link_to(form_menu_text(current_user),
                          user_form_responses_path,
                          id: 'ufr-link') %></li>
<%     end %>
<%     if current_user.can_view_journal_for?(:events) %>
            <li class = "has-dropdown">
              <%= link_to "Journals", journals_path %>
              <ul class="dropdown">
                <li><%= link_to "Current", journals_path(:current => true) %></li>
                <li><%= link_to "Deleted events", journals_path(:deleted => true) %></li>
              </ul>
            </li>
<%     end %>
<%     if current_user.exams? %>
            <li class="has-dropdown">
              <a href="#">Invigilation</a>
              <ul class="dropdown">
                <li><%= link_to "Templates",
                                rota_template_type_rota_templates_path(InvigilationManager.template_type) %></li>
                <li><%= link_to "Cycles", exam_cycles_path %></li>
                <li><%= link_to "E-mails", new_notifier_path %></li>
                <li><%= link_to "Clashes", notifiers_path %></li>
              </ul>
            </li>
<%     end %>
<%     if current_user.admin %>
            <li class="has-dropdown">
              <a href="#">Models</a>
              <ul class="dropdown">
                <li><%= link_to "Data sources", datasources_path %></li>
                <li><%= link_to "Eras", eras_path %></li>
                <li class="has-dropdown">
                  <%= link_to "Events", events_path %>
                  <ul class="dropdown">
                    <li><%= link_to "Categories", eventcategories_path %></li>
                    <li><%= link_to "Sources", eventsources_path %></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <%= link_to "Locations", locations_path %>
                  <ul class="dropdown">
                    <li><%= link_to "Aliases", locationaliases_path %></li>
                    <li><%= link_to "Owned", locations_path(:owned => true) %></li>
                  </ul>
                </li>
                <li><%= link_to "Properties", properties_path %></li>
                <li><%= link_to "Pupils", pupils_path %></li>
                <li><%= link_to "Services", services_path %></li>
                <li class="has-dropdown">
                  <%= link_to "Staff", staffs_path %>
                  <ul class="dropdown">
                    <li><%= link_to "Active", staffs_path(:active => true) %></li>
                    <li><%= link_to "Inactive", staffs_path(:inactive => true) %></li>
                  </ul>
                </li>
                <li><%= link_to "Subjects", subjects_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <%= link_to "Settings", settings_path %>
              <ul class="dropdown">
                <li><%= link_to "Pre-requisites", pre_requisites_path %></li>
              </ul>
            </li>
            <li><%= link_to "Imports", imports_index_path %></li>
<%     end %>
            <li><%= link_to "Day shape", 
                            rota_template_type_rota_templates_path(DayShapeManager.template_type) %></li>
          </ul>
        </li>
        <li class="divider">
<%   end %>
        <li>
<%   if current_user.known? %>
          <a href="/users/<%= current_user.id %>/edit" data-reveal-id="eventModal" data-reveal-ajax="true"><%= current_user.name %></a>
<%   else %>
          <%= link_to current_user.name %>
<%   end %>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", signout_path %></li>
<% else %>
        <li><%= link_to "Sign in", signin_path %></li>
<% end %>
      </ul>
    </section>
  </nav>
