<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Scheduler</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Scheduler", root_path %></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#" data-dropdown="drop1" data-options="is_hover:true">Models</a>
          <ul id="drop1" class="f-dropdown" data-dropdown-content>
            <li><%= link_to "Eras", eras_path %></li>
            <li><%= link_to "EventCategories", eventcategories_path %></li>
            <li><%= link_to "EventSources", eventsources_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Pupils", pupils_path %></li>
            <li><%= link_to "Staff", staffs_path %></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#" data-dropdown="drop2" data-options="is_hover:true">Import</a>
          <ul id="drop2" class="f-dropdown" data-dropdown-content>
            <li><%= link_to "Files", imports_index_path %></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Charlie" %></li>
        <li class="divider"></li>
        <li><%= link_to "Dennis" %></li>
      </ul>
    </section>
  </nav>
